<!DOCTYPE html>
<html>
<head>
  <title>Aumente seu faturamento!</title>
</head>
<body style="padding:0px;margin:0px;border-radius:5px;background-color: #f0f0f0;">
  <div style="padding:15px;">
    <p style="margin-top:20px;font-family:georgia;">Olá <%= customer.name %>,</p>
    <div style="margin-top:15px;font-family:georgia;">Segue link para alteração de sua senha.</div>

    <div style="margin-top:15px;font-family:georgia;"><a class="box b1 lucida-grande padding-10 underline" href="http://127.0.0.1:3002/lojista/alterar-senha/<%= token %>">Alterar minha senha</a></div>

    <img src="cid:favicon" style="margin-left:10px;margin-top:5px;width:105px;margin-top:20px;">
  </div>
</body>
</html>