<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
		</header>
        <% include ./partials/nav %>
		<section>
			<!-- <div class="container image-fit height-350" style="background-image: url('/images/background/banner1.png')"> -->
			</div>
			<div class="container" style="min-height:500px;">
                <div class="box one padding-10 margin-top-10 shadow" style="display:none">
                	<div class="box b1 font-12 avant-garde bold">Catálogo de produtos</div>
					<form id="product-catalog-filter-form" class="box one container">
						<input type="hidden" name="location" value="product-catalog">
						<input type="text" name="code" class="box b4 input-generic margin-top-5 center bold" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="box b4 input-generic margin-top-5 center bold" placeholder="Nome" autocomplete="off">
						<select name="color" class="box b4 input-generic margin-top-5 center bold" style="color:#3c3c3c;" name="color">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" name="submit" class="box b4 input-generic margin-top-5 bold" style="color:#3c3c3c;" value="Filtrar">
					</form>
				</div>

				<div class="mobile-box b2">
					<img class="margin-left-15 icon size-40" src="/images/icon/grid.png" onclick="document.getElementById('product-catalog-filter-table').style.display='none';document.getElementById('product-catalog-filter-box').style.display='';">
					<img class="margin-left-15 icon size-40" src="/images/icon/list.png" onclick="document.getElementById('product-catalog-filter-box').style.display='none';document.getElementById('product-catalog-filter-table').style.display='';">
				</div>
				
				<div id="product-catalog-filter-box">
					<div id="product-catalog-container" class="container"></div>
	        		<% include ./partials/carousel %>
				</div>
				<div id="product-catalog-filter-table" class="box one container" style="display:none"></div>
			</div>
			<!-- <div class="container padding-10" style="background-color:#3c3c3c;color:#c8c8c8">
				<div class="box b4 container center padding-10">
					<div class="box b1 center bold avant-garde">Aliste-se no Batalhão JA Rio Militar</div>
					<div class="box b1 center avant-garde">e fique por dentro das novidades</div>
				</div>
				<div class="box b3-4 container center">
					<input type="text" class="box b3 input-generic center bold" name="customer_name" placeholder="Nome">
					<input type="text" class="box b3 input-generic center bold" name="customer_email" placeholder="E-mail">
					<input type="text" class="box b12 input-generic center bold" name="customer_uf" placeholder="UF">
					<input type="text" class="box b4 submit-generic pointer center" value="Em breve" style="color:#1e1e1e" disabled>
				</div>
			</div> -->
			<div class="container padding-10" style="background-color:#141414;background-image: url('/images/background/bg2.png');color:#c8c8c8">
				<div class="box b12"></div>
				<!-- <div class="box b9"></div> -->
				<div class="box b9 border-right center"><img class="image-box width-80" src="/images/favicon/favicon-white.png"></div>
				<div class="box b6">
					<div class="box b1 bold avant-garde margin-top-15 center">JA Rio Militar</div>
					<div class="box b1 font-07 margin-top-5 avant-garde pointer center" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/empresa')">Quem somos</div>
				</div>
				<div class="box b4 container margin-top-5">
					<div class="box b1 avant-garde bold center">Fale conosco</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">comercial@jariomilitar.com.br</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 3449-9000</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 96421-1738</div>
				</div>
				<div class="box b4 container center margin-top-5">
					<div class="box b1 container padding-10 center">
						<div class="box b1 avant-garde bold center">Redes sociais</div>
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/instagram.png" onclick="lib.openExternalLink('instagram.com/jariomilitar')"></div>
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/facebook.png" onclick="lib.openExternalLink('facebook.com/jariomilitarofficial')"></div>
						<!-- <div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/youtube.png" onclick="lib.openExternalLink('')"></div> -->
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/globe-grid-white.png" onclick="lib.openExternalLink('www.jariomilitar.com.br')"></div>
					</div>
				</div>
			</div>
			<div class="container padding-10" style="background-color:#1e1e1e;color:#c8c8c8">
				<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
					2021 JA Rio Militar® - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
					JC CARVALHO ME. / CNPJ: 14.114.604/0001-73. Inscrição Estadual: 79.695.874
					Endereço Rua Correa Seára, 100, LJ 01, Magalhães Bastos, Rio de Janeiro - RJ. CEP: 21750-320
				</div>
				<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
					Os valores ofertados neste catálogo são exclusivos para representantes ou lojistas cadastrados e com valor mínimo de compra exigido de R$1000,00. <br>Para realizar seu cadastro entre em contato através do WhatsApp (33) 99999-9961 e envie suas informações. <br>Vendas parceladas são realizadas sob análise prévia.
				</div>
				<!-- <div class="box b4 container margin-top-10 center">
					<div class="box b1 avant-garde center">Formas de pagamento</div>
					<div class="box b1 container padding-10 center">
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/visa-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/master-card-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/boleto-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/pix-icon.png"></div>
					</div>
				</div> -->
				<div class="box b3 container center">
					<div class="mobile-box b4 center"><img class="height-50" src="/images/icon/sac.png"></div>
					<div class="mobile-box b3-4 center padding-10">
						<div class="mobile-box b1">RJ (21) 99246-0116</div>
					</div>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
		<script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>

		<script src="/javascripts/scripts/product/model/catalog.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
		<script src="/javascripts/scripts/product/view/catalog.js"></script>

		<script type="text/javascript">
			Product.controller.catalog.filter.submit.click();
		</script>
	</footer>
</html>