<!DOCTYPE html>
<html>
<head>
	<title>JA Rio Militar</title>
</head>
<body>
	<% include ./partials/head %>
	<header class="container">
		<div class="mobile-box a6">
			<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
		</div>
	</header>

	<div id="catalog-div"></div>
</body>
<footer>
	
</footer>
  <% include ./partials/footer %>
  <% include ./partials/react %>
  <script type="text/babel" src="javascripts/essentials/react/Carousel.js"></script>

  <script type="text/babel" src="javascripts/scripts/catalog/model/main.js"></script>
  <script type="text/babel" src="javascripts/scripts/product/model/main.js"></script>

  <script type="text/babel" src="javascripts/scripts/catalog/filter.js"></script>
  <script type="text/babel" src="javascripts/scripts/catalog/product-box.js"></script>
  <script type="text/babel" src="javascripts/scripts/catalog/package-box.js"></script>

  <script type="text/babel">
		class App extends React.Component {
			constructor(props) { 
				super(props);
				this.state = { liked: false };
			};

			render() { return (
				<Carousel slides={[
					{id: 1, name: 'Henrique'},
					{id: 2, name: 'Chris'},
					{id: 3, name: 'Anny'},
					{id: 4, name: 'Rodrigo'},
					{id: 5, name: 'Leandro'}
				]} />
				// <CatalogFilter categoryId={3} />
			) }
		}

		ReactDOM.render(<App/>, document.getElementById('catalog-div'));
	</script>
</html>