<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<img class="pointer width-150 noSelect" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
			<div class="right margin-top-10">
				<a href="/login" class="underline box-hover em09 padding-10 avant-garde">Entrar</a>
				<a href="/signup" class="underline box-hover em09 padding-10 avant-garde">Cadastrar</a>
			</div>
		</header>
		<section>
			<div class="container">
				
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
	</footer>
</html>