<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
	<div class="box a1 container center" style="background-color: #212322">
		<div class="box a1 padding-20 center"><img class="size-200" src="/images/linktree/logo.png"></div>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://www.youtube.com/channel/UCxDrmzWiS8uKRShld9vCqng')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="/images/linktree/ytb.png">
				<p class="bold margin-top-5">Canal oficial no Youtube.</p>
			</div>
		</div>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="/images/linktree/cart.png">
				<p class="bold margin-top-5">Compre agora na nossa Loja Virtual.</p>
			</div>
		</div>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521964211738')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="/images/linktree/wpp.png">
				<p class="bold margin-top-5">WhatsApp para tirar suas dúvidas!</p>
			</div>
		</div>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://forms.gle/yMfrj4eUMtPs6YtE8')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="images/linktree/email.png">
				<p class="bold margin-top-5">Cadastre-se para receber promoções.</p>
			</div>
		</div>
		<p class="center em13 padding-10" style="color:white">Para você, lojista ou representante:</p>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521974495861&text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20compras%20em%20atacado!')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="/images/linktree/consultor.png">
				<p class="bold margin-top-5">Temos uma equipe de consultores para te ajudar!</p>
			</div>
		</div>
		<div class="box a1 container center padding-10" onclick="lib.openExternalLink('https://www.youtube.com/results?search_query=j+a+rio+militar')">
			<div class="box b1 padding-10 pointer radius-5" style="background-color: white">
				<img class="size-40" src="/images/linktree/5.png">
				<p class="bold margin-top-5">Veja as principais avaliações!</p>
			</div>
		</div>
		<p class="box b1 em08 center padding-10" style="color:white">J.A Rio Militar 2021® Todos os direitos reservados</p>
	</div>
</body>
<footer>
	<script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/lib.js"></script>
	<script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/api.js"></script>
</footer>
</html>