<!DOCTYPE html>
<html>
<head>
	<title>JA Rio Militar</title>
</head>
<body>
	<% include ./partials/head %>
	<header class="container">
		<div class="mobile-box a6">
			<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
		</div>
	</header>

	<div class="box a1 container center" style="background-color: #0b0a08">
		<div class="box a1 center"><img class="size-500" src="images/blackout/logo3.png"></div>
		<!-- <p class="box a1 padding-10 em11" style="color:white">Dos dias 27 a 31 de outubro, aproveite as promoções do ESQUENTA BLACKOUT!</p> -->
		<div class="box a1 container center padding-10">
			<div class="box b1 padding-10 radius-5" style="background-color:#ffff">
				<img class="size-40" src="images/blackout/calendar.png">
				<p class="bold margin-top-5">Dos dias 29 a 31 de outubro, teremos as promoções e ofertas do ESQUENTA BLACKOUT! Não perca!</p>
			</div>
		</div>
		<p class="box a1 padding-11 margin-bottom-10" style="color:white">Se liga nas ofertas 👇</p>
		<!-- produto 1 -->
		<div class="mobile-box b2 container center padding-10 radius-5" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5" style="color:#029e4c">75% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1 size-300 center" src="image/product/bandoleira.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Bandoleira 1 ponta</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$12,49</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 2 -->
		<div class="mobile-box b2 container center padding-10 radius-5" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1 size-300 center" src="image/product/bornal.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Bornal Tático + Carr PST</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$14,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 3 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/cinto.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Cinto Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$23,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 4 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/dropmagp.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Drop Mag Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$17,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 5 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/cinto1.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Cinto Tático</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$11,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 6 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<p class="center bold em09" style="color:#d75413">LANÇAMENTO</p>
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/coldre cueca.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Coldre Cueca</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$7,50</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 7 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/bornal1.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Bornal 3 PST</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$14,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 8 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/bornal2.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Bornal Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$20,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 9 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">50% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/coldre1.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Coldre Robocop</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$11,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 10 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">80% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/minicoldre.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Mini Coldre</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$16,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 11 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/coldreuni.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Coldre Universal</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$11,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 12 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/coldremodular.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Coldre Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$7,50</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 13 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">70% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/bolsap.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Bolsa Pequena Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$7,50</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- produto 14 -->
		<div class="mobile-box b2 container center padding-10 radius-5 margin-top-10" style="background-color: white">
			<div class="box a1 container">
				<div class="container right">
					<img class="center size-25" src="images/blackout/discount.png">
					<p class="center bold padding-5 em09" style="color:#029e4c">60% OFF</p>
				</div>
				<div class="box a1 container"><img class="box a1" src="image/product/radio.png"></div>
			</div>
			<div class="box b1 padding-10 radius-5">
				<p class="em09 bold margin-top-5" style="color:black">Porta Rádio Modular</p>
				<p class="em08 margin-top-5" style="color:black">Parcele em até 12x s/ juros</p>
				<p class="bold border padding-5 margin-top-5 em12">R$7,99</p>
				<div class="box b1 container radius-5 height-40 pointer margin-top-5" style="background-color:#029e4c">
					<p class="center" style="color:white">Compre agora!</p>
				</div>
			</div>
		</div>
		<!-- frete grátis -->
		<div class="mobile-box a1 container center margin-top-10">
			<div class="box a1 container padding-10" style="background-color:#029e4c;color:#ffff">
				<div class="mobile-box a7 center"><img class="size-70" src="images/blackout/delivey.png"></div>
				<div class="mobile-box a6-7 container center">
					<p class="center em13 bold">Frete grátis em compras a partir de R$80,00</p>
					<p class="margin-top-5 center em09">Apenas através dos links disponibilizados acima. Oferta válida para regiões Sul, Sudeste, Centro-oeste e algumas cidades do Nordeste.</p>
				</div>
			</div>
		</div>
		<!-- Whatsapp -->
		<div class="mobile-box a1 container center padding-5 margin-top-5" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521964211738')">
			<div class="box b1 padding-5 pointer radius-5" style="background-color: white">
				<img class="size-40" src="images/blackout/wpp.png">
				<p class="bold margin-top-5">WhatsApp para tirar suas dúvidas!</p>
			</div>
		</div>
		<!-- Instagram -->
		<div class="mobile-box a1 container center padding-5" onclick="lib.openExternalLink('https://www.instagram.com/jariomilitar/')">
			<div class="box b1 padding-5 pointer radius-5" style="background-color: white">
				<img class="size-40" src="images/blackout/instagram.png">
				<p class="bold margin-top-5">Confira tudo sobre o Blackout no nosso Instagram!</p>
			</div>
		</div>
		<!-- Regras do esquenta blackout -->
		<div class="box a1 container em08 padding-10" style="color:#f4f3f4; text-align:left">
			<b>Regras e informações do Esquenta Blackout 2021:</b>
			<p>As promoções antecedentes ao mês da Black Friday (novembro) estarão ativas a partir dia 29/10/2021 até o dia 31/10/2021.</p>
			<p>As promoções serão ofertadas em links disponibilizados pela J.A Rio Militar, não sendo possível a compra com os valores visíveis nesta página em plataformas diferentes.</p>
		</div>
		<!-- Rodapé -->
		<p class="box b1 center padding-10" style="color:white">J.A Rio Militar 2021® Todos os direitos reservados</p>
	</div>

</body>
<footer>
	
</footer>
  <% include ./partials/footer %>
</html>