<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <img class="pointer width-150" onclick="window.location.href='/'" src="/images/favicon/favicon-black.png">
        </header>

        <style type="text/css">
            .btn-css {
                background-color: #e6e6e6;
            }
        </style>
        
        <div class="container ground">
            <% if (message.length > 0) { %>
                <div class="box one alert-msg margin-top-10">
                    <div class="box one bold"><%= message %></div>
                </div>
            <% } %>
            <div class="box three"></div>
            <form action="/user/login" method="post" class="box three container ground padding-10">
                <h5 class="box one center margin-top-10">E-mail</h5>
                <input type="email" class="box one input-generic center margin-top-5" name="email" autocomplete="off">
                <h5 class="box one center margin-top-10">Senha</h5>
                <input type="password" class="box one input-generic center margin-top-5" name="password" autocomplete="off">
                <button type="submit" class="box one submit-generic margin-top-5 bold">Login</button>
            </form>
        </div>
    </body>
    <footer>
        <% include ./partials/footer %>
        </script>
    </footer>
</html>