<html>
	<head>
        <% include ./../partials/head %>
        <meta name="description" content="JA Rio Militar, melhor custo benefício em equipamentos militares. Conheça nossos produtos e seja representante em sua cidade da marca que mais cresce no Brasil. Produção 100% nacional.">

        <style type="text/css">
        	:root {
				--title-soft: FreesiaUPC;
				--theme-explicit-color: "#96a28b";
				--theme-background-color: #f5f5f5;
			}

			.theme-header { background-color: #fff; }
			.carousel-btn-1 { transition: all 0.7s ease 0s; }
			.carousel-btn-1:hover { transition: all 0.3s ease 0s; }
		</style>
	</head>
	<body>
		<header class="theme-header container">
			<div class="mobile-box b3">
				<img class="width-100 opacity-out-08 pointer" onclick="window.location.href='/catalogo/representantes'" src="/images/favicon/favicon-black.png">
			</div>
			<div class="mobile-box b2-3 container center">
				<div class="right container">
					<!-- <div class="mobile-box georgia em08 bold center padding-5 margin-left-15 opacity-out-07 pointer">Login</div> -->
					<div class="mobile-box padding-5 margin-left-15">
						<img class="right width-30 opacity-out-07 pointer" onclick="lib.openExternalLink('instagram.com/jariomilitar')" src="/images/icon/bw-instagram.png">
					</div>
					<div class="mobile-box padding-5 margin-left-15 margin-right-10">
						<img class='right width-30 opacity-out-07 pointer' src='/images/icon/menu.png' onclick="openNav()">
					</div>
				</div>
			</div>
		</header>
        <% include ./../partials/nav %>
		<section>
			</div>
			<div class="container">
                <div class="box b1 container ground padding-5 h-center">
					<form id="catalog-filter-form" class="box b3-4 container container">
						<input type="text" name="code" class="mobile-box input-generic margin-top-5 center bold" style="display:none;" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="mobile-box b2 georgia border-bottom height-30 margin-top-5 center bold" placeholder="O que você procura?" autocomplete="off">
						<select name="color" class="mobile-box b3 georgia border-bottom height-30 margin-top-5 center bold" style="color:#3c3c3c;" name="color">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="number" name="price-category-id" value='3' hidden>
						<button type="submit" name="submit" class="mobile-box b6 noborder margin-left-15 center"><img src="/images/icon/search.png" class="size-25 opacity-out-08 pointer"></button>
					</form>
				</div>
				
				<div id="catalog-filter-box" class="box b1 container center" style="display:none">
					<div id="catalog-filter-div" class="box b1 container center"></div>
					<div name="carousel-navigation" class="box b1 container padding-10 margin-top-10 center">
						<button name="carousel-previous" class="mobile-box b3 noborder" disabled><img class="height-50 icon pointer" src="/images/icon/prev.png"></button>
					    <div name="carousel-page" class="mobile-box b3 em15 avant-grande center" style="color: #323232"></div>
					    <button name="carousel-next" class="mobile-box b3 noborder" disabled><img class="height-50 icon pointer" src="/images/icon/next.png"></button>
					</div>
				</div>

				<div id="catalog-product-show-box" class="box b1 container ground margin-top-10 margin-bottom-10" style="display:none;">
					<div id="catalog-product-show-div" class="box b2 container"></div>
					<div id="catalog-product-info-box" class="box b2 container margin-bottom-15"></div>
				</div>
			</div>
			
			<div class="container padding-10" style="background-color:#141414;background-image: url('/images/background/bg2.png');color:#c8c8c8">
				<div class="box b12"></div>
				<!-- <div class="box b9"></div> -->
				<div class="box b9 border-right center"><img class="image-box width-80" src="/images/favicon/favicon-white.png"></div>
				<div class="box b6">
					<div class="box b1 bold avant-garde margin-top-15 center">JA Rio Militar</div>
					<div class="box b1 font-07 margin-top-5 avant-garde pointer center" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/empresa')">Quem somos</div>
				</div>
				<div class="box b4 container margin-top-5">
					<div class="box b1 avant-garde bold center">Fale conosco</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">comercial@jariomilitar.com.br</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 3449-9000</div>
					<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 96421-1738</div>
				</div>
				<div class="box b4 container center margin-top-5">
					<div class="box b1 container padding-10 center">
						<div class="box b1 avant-garde bold center">Redes sociais</div>
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/instagram.png" onclick="lib.openExternalLink('instagram.com/jariomilitar')"></div>
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/facebook.png" onclick="lib.openExternalLink('facebook.com/jariomilitarofficial')"></div>
						<!-- <div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/youtube.png" onclick="lib.openExternalLink('')"></div> -->
						<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/globe-grid-white.png" onclick="lib.openExternalLink('www.jariomilitar.com.br')"></div>
					</div>
				</div>
			</div>
			<div class="container padding-10" style="background-color:#1e1e1e;color:#c8c8c8">
				<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
					2021 JA Rio Militar® - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
					JC CARVALHO ME. / CNPJ: 14.114.604/0001-73. Inscrição Estadual: 79.695.874
					Endereço Rua Correa Seára, 100, LJ 01, Magalhães Bastos, Rio de Janeiro - RJ. CEP: 21750-320
				</div>
				<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
					Os valores ofertados neste catálogo são exclusivos para representantes ou lojistas cadastrados e com valor mínimo de compra exigido de R$1000,00. <br>Para realizar seu cadastro entre em contato através do WhatsApp (33) 99999-9961 e envie suas informações. <br>Vendas parceladas são realizadas sob análise prévia.
				</div>
				<!-- <div class="box b4 container margin-top-10 center">
					<div class="box b1 avant-garde center">Formas de pagamento</div>
					<div class="box b1 container padding-10 center">
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/visa-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/master-card-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/boleto-icon.png"></div>
						<div class="mobile-box b4"><img class="height-30" src="/images/icon/pix-icon.png"></div>
					</div>
				</div> -->
				<div class="box b3 container center">
					<div class="mobile-box b4 center"><img class="height-50" src="/images/icon/sac.png"></div>
					<div class="mobile-box b3-4 center padding-10">
						<div class="mobile-box b1">RJ (21) 99246-0116</div>
					</div>
				</div>
			</div>
		</section>
		</div>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>

		<script src="/javascripts/scripts/catalog/model/product.js"></script>
		<script src="/javascripts/scripts/catalog/controller/product.js"></script>
		<script src="/javascripts/scripts/catalog/view/product.js"></script>

		<script src="/javascripts/scripts/catalog/model/package.js"></script>
		<script src="/javascripts/scripts/catalog/controller/package.js"></script>
		<script src="/javascripts/scripts/catalog/view/package.js"></script>

		<script type="text/javascript">
			Catalog.controller.filter.submit.click();
		</script>
	</footer>
</html>