<section class="container" style="position:relative;">
	<video autoplay muted loop class="box a1">
	<source src="https://wt-images-cdn.sfo3.cdn.digitaloceanspaces.com/Landing-Page/Colete-PM-Bahia/video-colete-bahia.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
	<img class="opacity-01 image-fit" src="https://spaces.jariomilitar.com/PortaldoLojista/pont.jpg" style="position:absolute;top:0;right:0;">
</section>