<section class="box a1 container">
  <div class="box a1 container padding-15 em09 h-center">
    <b class="mobile-box a2-3 center">Em 2023 o padrão de fardamento da Polícia Militar da Bahia será oficialmente na cor TAN. Por isso, é necessário utilizar o uniforme e acessórios táticos padronizados na cor estipulada pelo estado. A J.A Rio Militar oferece modelos de colete tático e acessórios na cor exata da Bahia. Temos diversas peças modulares, coletes sob medida e atendimento personalizado para tirar todas as dúvidas.</b>
  </div>
</section>