<header class="mobile-box a1 container" style="background-color:#212322;">
  <div class="box b3 container center">
    <img class="height-100 center" src="https://spaces.jariomilitar.com/PortaldoLojista/JARioMilitar.png">
    <div class="center padding-10">
      <p class="center em17 bold" style="color:#f3f4f4">Distribuição Nacional</p>
      <p class="em07" style="color:#f3f4f4">Desenvolvido por J.A Rio Militar®</p>
    </div>
  </div>
</header>