<html>
	<head>
        <% include ./../partials/head %>
        <meta name="description" content="JA Rio Militar, melhor custo benefício em equipamentos militares. Conheça os produtos da marca que mais cresce no Brasil. Produção 100% nacional.">
		
		<style type="text/css">
			.box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%;}
			.box-category { width: 19%; margin-left: 0.5%; margin-right: 0.5%; }
			.b4-b2 { width: 24%; margin-left: 0.5%; margin-right: 0.5%;}
			.category-article { position: absolute; top: 182.5px; left: 10px; }

			@media (max-width: 800px) {
				.box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%; }
				.box-category {width: 49%; margin-left: 0.5%; margin-right: 0.5%;}
				.b4-b2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }
			}
		</style>
	</head>
	<body>
		<section class="box a1 container" style="background-color:#212322">
			<div class="container padding-10">
				<img class="height-60 center" src="https://spaces.jariomilitar.com/PortaldoLojista/logo.png">
				<div class="center padding-10">
					<p class="center em17 bold" style="color:#f3f4f4">Portal do Lojista</p>
					<p class="em07" style="color:#f3f4f4">Desenvolvido por J.A Rio Militar®</p>
				</div>
			</div>
			<div class="mobile-box a4 container center width-200">
				<div class="mobile-box a1 ground container radius-15 padding-5 margin-bottom-5">
		    		<input type="text" class="b9-10 noborder center font-black" type="text" placeholder="Procurar artigos...">
		    		<img class="mobile-box opacity-in-08 pointer size-30 center" src="https://spaces.jariomilitar.com/PortaldoLojista/target.png">
		    	</div>
	    	</div>
	    	<div class="container right">
				<div class="container center padding-5 pointer hide-in-mobile">
					<img class="box a1 size-40 center" src="https://spaces.jariomilitar.com/PortaldoLojista/user.png">
					<p class="box a1 center bold" style="color:#f3f4f4">Minha conta</p>
				</div>
			</div>
		</section>

		<section class="box a1 container margin-top-10 h-center">
			<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
				<p class="center padding-4" style="color:#f3f4f4">Atendimento ao cliente</p>
			</div>
			<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
				<p class="center padding-4" style="color:#f3f4f4">Vendas on-line</p>
			</div>
			<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
				<p class="center padding-4" style="color:#f3f4f4">Promoções</p>
			</div>
			<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
				<p class="center padding-4" style="color:#f3f4f4">Lançamentos</p>
			</div>
			<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
				<p class="center padding-4" style="color:#f3f4f4">Revenda J.A Rio Militar®</p>
			</div>
		</section>

		<section class="box b1 container margin-top-10 h-center">
			<div class="b11-12 container h-center">
				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/calendario.jpg">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:orange">
						<p class="center em08 lucida-grande bold">Tendências</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-50">
							<p class="lucida-grande bold">Tendências para o mês de Março 2022</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Saiba quais são as datas comemorativas que geram vendas, quais promoções aplicar, que eventos estão programados e como aproveitar esse mês para lucrar ainda mais.</div>
						</div>
					</div>
				</div>

				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/cliente.jpg">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:#7fc355">
						<p class="center em08 lucida-grande bold">Vendas</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-50">
							<p class="lucida-grande bold">3 coisas que o seu cliente procura em você</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Você sabe o que o seu cliente procura em você? Existem 3 requisitos básicos que uma pessoa leva em consideração ao fechar uma compra. Confira agora quais são esses requisitos.</div>
						</div>
					</div>
				</div>

				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/boleto.png">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:#808080">
						<p class="center em08 lucida-grande bold">Revenda JA Militar®</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-5r">
							<p class="lucida-grande bold">Saiba como parcelar compras J.A Rio Militar no boleto</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Comprar no boleto bancário exige responsabilidade e controle. Por isso, a J.A Rio Militar faz uma análise do perfil do cliente, a fim de manter sempre o bom relacionamento financeiro entre o vendedor e o comprador.</div>
						</div>
					</div>
				</div>

				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/up.jpg">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:#7fc355">
						<p class="center em08 lucida-grande bold">Vendas</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-5r">
							<p class="lucida-grande bold">Técnicas para aumentar o ticket médio das suas vendas</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Técnicas como Cross-sell, Up-sell e Down-sell te ajudam a aumentar o ticket médio das suas vendas; além de te ajudar a destravar vendas em que o comprador iria desistir.</div>
						</div>
					</div>
				</div>

				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/checklist.jpg">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:#7fc355">
						<p class="center em08 lucida-grande bold">Vendas</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-5r">
							<p class="lucida-grande bold">Mostre ao seu cliente que você tem os itens que ele precisa com esse CheckList</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Você pode modificar o arquivo e escolher os itens que você vende na sua loja. Essa técnica faz o cliente lembrar de outros itens que ele precisa, e já mostra que você os tem.</div>
						</div>
					</div>
				</div>

				<div class="box box-article ground margin-top-10 border relative radius-10 pointer shadow-hover">
					<div class="box a1 container height-200">
						<img class="image-fit radius-10" src="https://spaces.jariomilitar.com/PortaldoLojista/case.jpg">
					</div>
					
					<div class="container category-article height-30 width-150 radius-15 center" style="background-color:gold">
						<p class="center em08 lucida-grande bold">Lançamento</p>
					</div>

					<div class="box a1 container height-110 padding-15">
						<div class="container a1 container height-5r">
							<p class="lucida-grande bold">Lançamento | Case Tática Modular Para Rifle, Airsoft, Fuzil</p>
						</div>
						<div class="box a1 height-60 padding-5">
							<div class="em08 lucida-grande ellipsis">Confira e tenha também na sua loja o lançamento J.A Rio Militar® | Case Tática Modular para Rifle, Airsoft e Fuzil.</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="box a1 container margin-top-15 padding-15" style="background-color:#1e1e1e;color:white">
			<div class="box b4-b2 container margin-top-10 padding-10">
				<img class="box a1" src="https://spaces.jariomilitar.com/PortaldoLojista/missao.png">
			</div>
			<div class="box b4-b2 container margin-top-10 padding-10">
				<div class="box b1 margin-top-5 em13 bold font-white">Categorias</div>
				<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Vendas</div>
				<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Lançamentos</div>
				<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Atendimento ao cliente</div>
				<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Promoções</div>
				<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Revenda J.A Rio Militar</div>
			</div>
			<div class="box b4-b2 container margin-top-10 padding-10">
				<div class="box b1 margin-top-5 em13 bold">O que é o Portal do Lojista</div>
				<p class="em08 margin-top-5">O Portal do Lojista é um ambiente de dicas e suporte aos lojistas (com foco no público militar). O blog foi desenvolvido pela J.A Rio Militar com o intuito de fornecer ajuda aos empresários que, dia após dias, contribuem com o comércio e distribuição de produtos militares e esportivos. No Portal do Lojista há artigos sobre atendimento ao cliente, vendas on-line, lançamentos, promoções, materiais publicitários, etc.</p>
			</div>
			<div class="box b4-b2 container margin-top-10 padding-10">
				<div class="box b1 margin-top-5 em13 bold">Revenda e aumente o faturamento da sua empresa</div>
				<img class="box b1 margin-top-5 size-300 pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/botaowhatsapp.png" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521964211738&text=Ol%C3%A1.%20Quero%20revender%20produtos%20J.A%20Rio%20Militar%C2%AE')">
			</div>
			<p class="box b1 em09 lucida-grande center">J.A Rio Militar 2021® Todos os direitos reservados</p>
		</section>
        <% include ./../partials/loader %>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>