<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<div class="main">
	        <% include ./../partials/header %>
	        <% include ./../partials/nav %>
			<section>
				<div class="container">
					<div class="box-1">
						<% if (message.length > 0) { %>
                            <div class="alert-msg"><%= message %></div>
                        <% } %>
					<form action="/user/signup" class="box-1" method="post">
							<h4 class="underline">Preencha as informações para realizar seu cadastro!</h4>
							<input type="text" class="btn-generic-big" name="name" maxlength="60" autocomplete="off" placeholder="Nome">
							<input type="email" class="btn-generic-big" name="email" id="email" maxlength="60" autocomplete="off" placeholder="E-mail">
							<input type="password" class="btn-generic-big" name="password" maxlength="45" autocomplete="off" placeholder="Senha">
							<input type="password" class="btn-generic-big" name="confirmPassword" maxlength="45" autocomplete="off" placeholder="Confirmar senha">
							<p class="underline"></p>
							<button type="submit" class="btn-submit">Cadastrar</button>
					</form>
					</div>
				</div>
			</section>
		</div>
		<!-- <button onclick="window.location.href='/users'">Usuários</button> -->
	</body>
	<footer>
		<% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
	<script>
		function filldate(){
			const Months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']; 
			for(i=1;i<32;i++){
				document.getElementById('day').innerHTML += "<option value="+i+">"+i+"</option>";
			};
			for(month of Months){
				document.getElementById('month').innerHTML += "<option value="+month+">"+month+"</option>";
			};
			for(i=2019;i>1900;i--){
				document.getElementById('year').innerHTML += "<option value="+i+">"+i+"</option>";
			}
		};
		filldate();
	</script>
</html>