:root {
	--title-soft: FreesiaUPC;
	--theme-explicit-btn: "#96a28b";
	--theme-background-color: #f0f0f0;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.a2c { margin-left: 25%; width: 50%; }

.btn-google {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    outline: none;
}

.btn-google:hover {
    border: 1px #C6C6C6 solid;
    /*box-shadow: 1px 1px 1px #EAEAEA;*/
    color: #333333;
    background: #F7F7F7;
}

.btn-google.gray {
    color: white;
    background: #656565;
    border: 1px #000 solid;
    box-shadow: inset 0 1px 0 #444;
}

.btn-google.gray:hover { border: 1px #333 solid; background: #545454; }

.btn-google.gray:active { box-shadow: inset 0 2px 5px #333; }

.btn-google.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

.btn-google.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

.btn-google.blue:active { box-shadow: inset 0 2px 5px #2370FE; }

.bg {
	background: url(/images/bg.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.styled-text {   
	/*text-transform: uppercase;*/
	color:#555;
	font-family: 'Trocchi', serif;
	font-weight: bold; 
	letter-spacing: 0px; 
	line-height: 1; 
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.flip-container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  bottom:45%;
  display:block;
}

.flip { height:50px; overflow:hidden; }

.flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child { animation: show 5s linear infinite; }
.flip div div { background:#42c58a; }
.flip div:first-child div { background:#4ec7f3; }
.flip div:last-child div { background:#DC143C; }

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #f0f0f0; }

.overflow-hide { overflow-y: hidden; }