<!DOCTYPE html>
<html>
<head>
	<% include ./../partials/head %>
	<title>JA Rio Militar - Fornecedor de Artigos militares</title>
	<meta name="description" content="JA Rio Militar, o melhor custo benefício em equipamentos militares. Ofereça para seus clientes produtos de alta qualidade que milhares de clientes já conhecem e confiam. Produto 100% nacional.">
	<style>
		.form-btn {
			background-color: #c8c8c8;
			color: #111;
		}

		.form-btn:hover {
			background-color: #b4b4b4;
		}

		.b3to2 { width: 32.33%; margin-left: 0.5%; margin-right: 0.5%; }
		
		@media (max-width: 800px) {
			.b3to2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }
		}
	</style>
</head>
<body class="container">
	<section class="box a1 container" style="background-color: #c8c8c8;">
		<div class="box b1 container">
			<img class="image-prop size-100 center" src="images/favicon/favicon-black.png">
		</div>
	</section>

	<section class="box a1 container h-center" style="background-color: #111;background-image: url('/images/background/bg2.png');color:#f0f0f0">
		<div class="box a1 container margin-top-10 h-center">
			<div class="box b2 impact em30 padding-10 center">Ofereça ao seu cliente tudo o que ele precisa</div>
		</div>

		<div class="box a1 container h-center">
			<div class="box b2 georgia em15 padding-10 center">Milhares de clientes conhecem e confiam nos produtos JA Rio Militar®</div>
		</div>

		<form id="lead-form" class="box b2 container h-center padding-10 margin-top-20">
			<div class="box b1 lucida-grande bold center">Preencha as informações para receber o catálogo com todos os produtos</div>
			<input type="text" required name="name" class="box b3-4 lucida-grande bold em11 border radius-5 padding-10 margin-top-5 center nofocus" placeholder="Nome ou Nome da empresa" autocomplete="off">
			<input type="text" required name="email" class="box b3-4 lucida-grande bold em11 border radius-5 padding-10 margin-top-5 center nofocus" placeholder="E-mail" autocomplete="off">
			<input type="text" required name="phone" class="box b3-4 lucida-grande bold em11 border radius-5 padding-10 margin-top-5 center nofocus" placeholder="WhatsApp" autocomplete="off">
			<input type="submit" name="submit" class="box b3-4 form-btn lucida-grande bold em11 radius-5 border-st padding-10 margin-top-5 center pointer" value="Desejo receber o catálogo">
		</form>

		<div class="box b1 lucida-grande em07 margin-top-10 center" style="color:#f0f0f0">Ao digitar seu e-mail, você concorda em receber e-mails de marketing da JA Rio Militar.</div>

		<div class="box b2-3 container margin-top-20 h-center">
			<div class="mobile-box b3to2 center hide-in-mobile">
				<img src="/images/product/case.jpg" class="image-prop size-400 radius-10" onclick="lib.openExternalLink('https://www.instagram.com/p/CfMUJjGtf6x/')">
			</div>
			<div class="mobile-box b3to2 center">
				<img src="/images/product/plate-marrom.jpg" class="image-prop size-400 radius-10">
			</div>
			<div class="mobile-box b3to2 center">
				<img src="/images/product/cinto-modular.jpg" class="image-prop size-400 radius-10">
			</div>
		</div>
	</section>

	<section class="container h-center margin-top-20">
		<div class="box b1 lucida-grande em15 bold"></div>
		<div class="box b3-4 container">
			<div class="box b3 container margin-top-10 padding-10">
				<img src="/images/icon/benefits.png" class="size-50 center">
				<div class="box b1 lucida-grande bold em12 margin-top-5 center">Beneficios</div>
				<div class="box b1 lucida-grande center">Evolua sua patente e receba vários benefícios como descontos, taxas exclusivas, acesso a lançamentos, brindes e muitas outras vantagens de ser representante JA.</div>
			</div>
			<div class="box b3 container margin-top-10 padding-10">
				<img src="https://spaces.jariomilitar.com/PortaldoLojista/logo-black.png" class="size-50 center">
				<div class="box b1 lucida-grande bold em12 margin-top-5 center">Portal do lojista</div>
				<div class="box b1 lucida-grande center">Acompanhe o status dos seus pedidos em tempo real e tenha acesso a conteúdos relacionados ao universo militar e esportivo que irão te auxiliar no marketing e divulgação dos produtos.</div>
			</div>
			<div class="box b3 container margin-top-10 padding-10">
				<img src="/images/icon/support.png" class="size-50 center">
				<div class="box b1 lucida-grande bold em12 margin-top-5 center">Suporte humanizado</div>
				<div class="box b1 lucida-grande center">Atendimento exclusivo com um de nossos consultores que estará sempre disponível durante todo o processo da sua compra até o momento da entrega.</div>
			</div>
		</div>

		<div class="box b1 underline"></div>

		<div class="box b2-3 lucida-grande em12 bold margin-top-20 center">"A sua missão começa quando a nossa termina."</div>

		<div class="box b2 center margin-top-30">
			<div onclick="window.location.href='#lead-form';document.getElementById('lead-form').elements.namedItem('name').focus()" class="box b1 lucida-grande bold padding-10 border radius-10 noselect pointer" style="background-color:#111;color:#f0f0f0;">Quero conhecer os produtos JA</a>
		</div>	
	</section>

	<div class="box b1 em09 center margin-top-50 padding-10">J.A Rio Militar 2022® Todos os direitos reservados</div>
</body>

<% include ./../partials/footer %>

<script>
	let lead_form = document.getElementById("lead-form");
	lead_form.addEventListener("submit", async e => {
		e.preventDefault();

		console.log('ok')

		let lead = {
			name: e.target.elements.namedItem("name").value,
			email: e.target.elements.namedItem("email").value,
			phone: e.target.elements.namedItem("phone").value
		};

		let response = await fetch("/lead/save", {
			method: "POST",
			headers: {'Content-Type': 'application/json'},
		    body: JSON.stringify(lead)
		});
		response = await response.json();

		if(API.verifyResponse(response)){ return false };
		alert(response.done);

		window.location.href = '/catalogo'
	});
</script>
</html>