<section class="box a1 container padding-5 noselect" style="color:#f3f4f4;background-color:#212322;background-image: url(https://spaces.jariomilitar.com/PortaldoLojista/ativo.png)">
	<div class="box a1 padding-10">
		<h1 class="center lucida-grande">Conheça mais da história da J.A Rio Militar®</h1>
	</div>

	<div class="mobile-box b12 container center"><img id="flow-prev" style="display:none;" onclick="Story.flow.prev()" src="https://spaces.jariomilitar.com/erp-images/icon/previous-icon-white.png" class="size-30 icon center pointer"></div>
	<div class="mobile-box a5-6 container margin-top-15 h-center">
		<div id="story-1" class="box b5-6 container">
			<img class="box a2 size-300 center" src="https://spaces.jariomilitar.com/PortaldoLojista/historia1.png">
			<p class="box a2 lucida-grande padding-5 bold center">Em 1998 diante da necessidade de encontrar produtos táticos de qualidade para compor o próprio uniforme, o idealizador da J.A Rio Militar, que já tinha experiência familiar em costura e capotaria, viu ali uma oportunidade de unir sua profissão que exerceu desde a infância ao orgulho do momento que era ser formado no curso Para-quedista.</p>
		</div>

		<div id="story-2" class="box b5-6 container" style="display:none;">
			<img class="box a2 size-300 center" src="https://spaces.jariomilitar.com/PortaldoLojista/historia3.png">
			<p class="box a2 lucida-grande padding-5 bold center">Como sempre foi detalhista em todos os projetos que trabalhou neste não seria diferente.
			Devido a grande habilidade com costura que adquiriu desde a infância trabalhando junto com seu pai, conseguia reproduzir e até aprimorar muitos dos modelos de colete e demais acessórios disponíveis na época, o que logo chamou a atenção dos companheiros.</p>
		</div>

		<div id="story-3" class="box b5-6 container" style="display:none;">
			<img class="box a2 size-300 center" src="https://spaces.jariomilitar.com/PortaldoLojista/historia2.png">
			<p class="box a2 lucida-grande padding-5 bold center">Então, a partir dos pedidos de todos, surgiu a J.A Rio Militar (ainda não nomeada nessa época) que começou a ser a primeira opção de muitos combatentes que procuravam produtos táticos de qualidade. Como o equipamento era projetado e confeccionado pelo próprio combatente supria exatamente a necessidade para as missões, além das melhorias constantes feitas devido a própria busca de aprimorar os equipamentos que utilizava.</p>
		</div>

		<div id="story-4" class="box b5-6 container padding-20 radius-15" style="color:#f3f4f4;display:none;">
			<h1 class="center lucida-grande">E hoje, quem é a JA Rio Militar?</h1>
			<p class="em09 lucida-grande bold padding-5 center">Após 21 anos de evolução e especialização na área, hoje a JA tem vários produtos que já são referência no Brasil. Utilizando das técnicas e máquinas mais avançadas para projeção dos produtos e seu potencial de produção em massa, entrega o custo benefício de produtos importados e tem como principal objetivo se estabelecer entre uma das principais fornecedoras de artigos militares do País. <br><br>

			Sabemos que o mercado militar é lucrativo mas acreditamos que além dos produtos comercializados precisamos também evoluir como um todo, nos estruturando para o mundo digital e globalizado.
			Tudo nos indica que o Brasil tem potêncial para se tornar um grande polo mundial de mercado e indústria, por essa razão nossa missão é unir as empresas parceiras de diferentes lugares do país focando em fortalecer o relacionamento e o compartilhamento de estratégias através de nossa comunidade para a evolução do comércio nacional.
			</p>
		</div>
	</div>
	<div class="mobile-box b12 container center"><img id="flow-next" onclick="Story.flow.next()" src="https://spaces.jariomilitar.com/erp-images/icon/next-icon-white.png" class="size-30 icon center pointer"></div>
</section>