<div name="carousel-navigation" class="box one center padding-10 center">
	<button name="carousel-previous" class="mobile-box b7 input-generic" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
    <span name="carousel-page" class="mobile-box b7"></span>
    <button name="carousel-next" class="mobile-box b7 input-generic" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
</div>