<div name="carousel-navigation" class="box b1 container h-center padding-10">
	<img name="carousel-previous" class="mobile-box b12 size-40 icon noselect" src="/images/icon/back-arrow-black.png">
    <span name="carousel-page" class="mobile-box b2 lucida-grande bold nowrap center noselect"></span>
	<img name="carousel-next" class="mobile-box b12 size-40 icon noselect" src="/images/icon/next-arrow-black.png">
</div>