<header class="container">
	<div class="mobile-box a6">
		<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/lojista'"
			src="/images/favicon/favicon-black.png">
	</div>
</header>