<div id="mySidenav" class="sidenav border">
  	<span class="closebtn pointer" onclick="closeNav()">&times;</span>
    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Financeiro</option>
	    <option value="/financial/index">Gerir Receitas / Despesas</option>
	    <option value="/financial/income">Configurar Receitas</option>
	    <option value="/financial/outcome">Configurar Despesas</option>
	    <option value="/sale/financial">Comercial</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Produtos</option>
	    <option value="/product/manage">Gerir Produtos</option>
	    <option value="/product/price">Tabelas de Preço</option>
	    <option value="/product/package">Gerir Pacotes</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Matéria-Prima</option>
	    <option value="/feedstock/manage">Gerir Materias-Primas</option>
	    <option value="/feedstock/supplier">Gerir Fornecedores</option>
	    <option value="/feedstock/purchase">Pedido de compra</option>
	    <option value="/feedstock/storage">Estoque</option>
	    <option value="/feedstock/storage/manage">Gerir Estoque</option>
	    <option value="/feedstock/purchase/manage">Gerir Compras</option>
	    <option value="/feedstock/request">Pedido avulso</option>
	    <option value="/feedstock/regress">Pedido de retorno</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Produção</option>
	    <option value="/production/simulation">Simular Produção</option>
	    <option value="/production">Solicitar Produção</option>
	    <option value="/production/manage">Gerir Produções</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>Comercial</option>
	    <option value="/customer">Clientes</option>
	    <option value="/sale">Nova venda</option>
	    <option value="/sale/manage">Vendas</option>
	    <option value="/sale/triage">Triagem</option>
	</select>

    <select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">  
	    <option value="" disabled selected>E-commerce</option>
	    <option value="/ecommerce/sale">Nova venda</option>
	    <option value="/ecommerce/sale/gathering">pedidos em coleta</option>
	    <option value="/ecommerce/sale/triage">Triagem</option>
	    <option value="/ecommerce/sale/manage">Gerir Vendas</option>
	    <option value="/ecommerce/sale/after-sale">Novo cliente Pós-venda</option>
	    <option value="/ecommerce/sale/after-sale/flow">Fluxo de Pós-venda</option>
	</select>
</div>

<div class="container">
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'><img class='icon size-45 right padding-5' src='/images/icon/menu.png' onclick="openNav()"></div>
</div>

<script>
	function openNav() { document.getElementById("mySidenav").style.width = "300px"; };
	function closeNav() { document.getElementById("mySidenav").style.width = "0"; };
</script>