<div id="mySidenav" class="sidenav border">
  <span class="closebtn pointer" onclick="closeNav()">&times;</span>
	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Coletes</option>
	    <option value="colete">Coletes</option>
	    <option value="close">Close</option>
	    <option value="plate carrier">Plate Carrier</option>
	    <option value="ja3">JA3</option>
	    <option value="bope">Bope</option>
	</select>

	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Modulares</option>
	    <option value="modular">Modulares</option>
	    <option value="camelback modular">P. Camelback</option>
	    <option value="bolsa pequena modular">Bolsa Pequena</option>
	    <option value="bolsa média modular">Bolsa média</option>
	    <option value="bolsa grande modular">Bolsa grande</option>
	    <option value="coldre modular">Coldre</option>
	    <option value="Pistola duplo">P. c. Pistola duplo</option>
	    <option value="Porta carregador fuzil">P. c. Fuzil</option>
	    <option value="Porta radio">P. Rádio</option>
	    <option value="drop mag">Drop Mag</option>
	</select>

	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Bornais</option>
	    <option value="bornal">Bornais</option>
	    <option value="Bornal Fuzil Tic Tac">Bornal Fuzil Tic Tac</option>
	    <option value="Bornal 3 PST">Bornal 3 PST</option>
	    <option value="Bornal Compact">Bornal Compact</option>
	    <option value="Bornal tático">Bornal tático</option>
	    <option value="Bornal modular">Bornal modular</option>
	</select>

	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Coldres</option>
	    <option value="coldre">Coldres</option>
	    <option value="coldre modular">Coldre modular</option>
	    <option value="Coldre de Perna Universal">Coldre de Perna Universal</option>
	    <option value="Coldre de Perna Robocop">Coldre de Perna Robocop</option>
	    <option value="Mini Coldre p/ Cinto">Mini Coldre p/ Cinto</option>
	</select>

	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Cintos</option>
	    <option value="cinto">Cintos</option>
	    <option value="Cinto Tático Fivela Plástico">Cinto Tático</option>
	    <option value="cinto modular">Cinto Modular</option>
	    <option value="Presilha Emborrachada P/ Cinto">Presilha Emborrachada</option>
	</select>

	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="(Product.controller.catalog.filter.name.value = this.options[this.selectedIndex].value) && Product.controller.catalog.filter.submit.click()">
	    <option value="" selected disabled>Bandoleiras</option>
	    <option value="Bandoleira">Bandoleiras</option>
	    <option value="Bandoleira J.A 1 ponto">Bandoleira 1 ponto</option>
	</select>
</div>

<div class="container">
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'></div>
	<div class='mobile-box six'><img class='icon size-45 right padding-5' src='/images/icon/menu.png' onclick="openNav()"></div>
</div>

<script>
	function openNav() { document.getElementById("mySidenav").style.width = "300px"; };
	function closeNav() { document.getElementById("mySidenav").style.width = "0"; };
</script>