<!DOCTYPE html>
<html>
<head>
	<title>Colete Tático da PM Bahia</title>
	<link rel="icon" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/BlackFridayOUT/favicon.png" type="image/x-icon">
  <%- include('./../partials/head.ejs') %>
</head>

<!-- cabeçalho -->
<section class="mobile-box a1 container" style="background-color:#212322;">
  <div class="box b3 container center">
    <img class="height-100 center" src="https://spaces.jariomilitar.com/PortaldoLojista/JARioMilitar.png">
    <div class="center padding-10">
      <p class="center em17 bold" style="color:#f3f4f4">Distribuição Nacional</p>
      <p class="em07" style="color:#f3f4f4">Desenvolvido por J.A Rio Militar®</p>
    </div>
  </div>
</section>

<!-- vídeo do colete da bahia -->
<section class="container" style="position:relative;">
  <video autoplay muted loop class="box a1">
   <source src="https://wt-images-cdn.sfo3.cdn.digitaloceanspaces.com/Landing-Page/Colete-PM-Bahia/video-colete-bahia.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <img class="opacity-01 image-fit" src="https://spaces.jariomilitar.com/PortaldoLojista/pont.jpg" style="position:absolute;top:0;right:0;">
</section>
<!-- boxes de produtos -->
<section class="box a1 container" style="background-color:#232122">
  <div id="lojas" class="box b1 container h-center margin-bottom-30 margin-top-15"></div>
</section>

<!-- Texto -->
<section class="box a1 container">
  <div class="box a1 container padding-15 em09 h-center">
    <b class="mobile-box a2-3 center">Em 2023 o padrão de fardamento da Polícia Militar da Bahia será oficialmente na cor TAN. Por isso, é necessário utilizar o uniforme e acessórios táticos padronizados na cor estipulada pelo estado. A J.A Rio Militar oferece modelos de colete tático e acessórios na cor exata da Bahia. Temos diversas peças modulares, coletes sob medida e atendimento personalizado para tirar todas as dúvidas.</b>
  </div>
</section>

<!-- Comprar em quantidade - equipe -->
<section class="box a1 container h-center padding-15" style="color:#f3f4f4;background-color:#232122">
  <img class="image-prop max-height-125 center" src="https://cdn-icons-png.flaticon.com/512/5436/5436213.png">
  <div class="mobile-box a2-3">
    <h4 class="padding-5">Você sabia que comprando acima de 5 unidades sai mais barato?</h4>
    <p class="em09">Se você faz parte de um batalhão ou turma que irá se formar e quiser comprar em quantidade, temos condições especiais:<br><br>
      📌 Pagamento individual (cada um paga da maneira que preferir).<br>
      📌 Coletes sob medida e personalizados com as peças que cada um prefere.<br>
      📌 Frete barato (ao dividir o frete entre todos os compradores, sai bem mais em conta).<br>
      📌 Atendimento personalizado para compras em atacado - um de nossos atendentes estará responsável pelo seu atendimento.
    </p>
  </div>
  <button class="box b2-3 padding-10 radius-10 pointer margin-top-15" style="background-color:#008000;color:#fff" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521964211738&text=Ol%C3%A1.%20Eu%20gostaria%20de%20saber%20como%20fa%C3%A7o%20um%20or%C3%A7amento%20de%205%20coletes%20padr%C3%A3o%20bahia.')">Faça agora um orçamento pelo WhatsApp</button>
</section>


<footer>
  <script src="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/lib.js"></script>
  <script src="https://wt-images-cdn.sfo3.digitaloceanspaces.com/framework/api.js"></script>
</footer>

<script>
  let stores = [
  {id: 1, name: "Colete Tático Modular", image: "https://http2.mlstatic.com/D_NQ_NP_2X_657604-MLB46510015519_062021-F.webpg", phone: "Modelo: JA3 (para placas nível IIIA)", link: "'https://api.whatsapp.com/send?phone=5521964211738&text=Ol%C3%A1.%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20colete%20JA3%20na%20cor%20padr%C3%A3o%20BAHIA.'", city: "Cor: Padrão Bahia TAN", storage: true },
  {id: 2, name: "Colete Tático Modular + 9 Peças", image: "https://http2.mlstatic.com/D_NQ_NP_2X_636645-MLB47429167019_092021-F.webp", phone: "Modelo: JA3 (para placas nível IIIA)", link: "'https://api.whatsapp.com/send?phone=5521964211738&text=Ol%C3%A1.%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20colete%20JA3%20+%209%20pe%C3%A7as%20na%20cor%20padr%C3%A3o%20BAHIA.'", city: "Cor: Padrão Bahia TAN", storage: true },
  ]

  let store_box = document.getElementById("lojas");
  store_box.innerHTML = "";

  stores.forEach(store => {
    let store_div = lib.element.create("div", { 
      class: "box b3 container padding-10 margin-top-10 h-center radius-10",
      style: "background-color:white;" 
    });

    store_div.append(lib.element.create("img", { 
      src: store.image, 
      class: "image-prop height-250 radius-5"
    }))

    let storage_div = lib.element.create("div", { class: "box b1 container h-center margin-top-10" });
    store.storage && storage_div.append(lib.element.create("img", { 
      src: "https://cdn-icons-png.flaticon.com/128/8866/8866816.png",
      class: "max-height-25" 
    }));

    store.storage && storage_div.append(lib.element.create("div", { 
      class: "padding-5 margin-left-5 em08",
      style: "color:green" 
    }, "Compre mais barato acima de 5 unidades"));
    store_div.append(storage_div);

    !store.storage && storage_div.append(lib.element.create("img", { 
      src: "https://spaces.jariomilitar.com/BlackFridayOUT/alt%20off.png",
      class: "max-height-20" 
    }));

    !store.storage && storage_div.append(lib.element.create("div", { 
      class: "padding-5 margin-left-5 em08",
      style: "color:red" 
    }, "Não Possui produtos J.A® em estoque"));
    store_div.append(storage_div);

    store_div.append(lib.element.create("div", { class: "box b1 center bold margin-top-10 em12" }, store.name));
    store_div.append(lib.element.create("div", { class: "box b1 center margin-top-5" }, store.phone));
    store_div.append(lib.element.create("div", { class: "box b1 center margin-top-5" }, store.city));

    store_div.append(lib.element.create("button", { 
      class: "mobile-box b2-3 center padding-5 margin-top-15 radius-5 center pointer",
      style: "background-color:green;color:white",
      onclick: `lib.openExternalLink(${store.link})`
    }, "Compre agora pelo WhatsApp"));

    store_box.append(store_div);
  });

</script>
</html>