<!DOCTYPE html>
<html>
<head>
	<title>Lançamento J.A Rio Militar - Case Modular</title>
	<meta name="description" content="JA Rio Militar, melhor custo benefício em equipamentos militares. Conheça nossa Case Modular, Produto 100% nacional.">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="canonical" href="https://www.jariomilitar.com/">
	<link rel="shortcut icon" href="https://images.tcdn.com.br/img/img_prod/698194/1632754311_favicon.ico?617bdd2ab7355" type="image/x-icon" />
	<% include ./../partials/head %>
	<style>
		.mySlides {display:none;}
	</style>
</head>
<body>
	<section class="container" style="background-color:#0b0a08">
		<!-- banner -->
		<div class="box a1 container h-center">
			<div class="box a2-3 container"><img class="image-fit bg" src="images/icon/banner.jpg"></div>
		</div>

		<!-- Countdown -->
		<div class="box a1 container center padding-10">
			<div class="box b1 padding-10 radius-5" style="background-color:#f1472a">
				<p class="bold em12" style="color:#fff">Tempo até o lançamento:</p>
				<p class="bold em15 margin-top-5" style="color:#fff" id="demo"></p>
			</div>
		</div>

		<!-- info -->
		<div class="box a1 container center padding-10">
			<div class="box b1 padding-10 radius-5" style="background-color:#ffff">
				<img class="size-40" src="images/icon/calendar.png">
				<p class="bold margin-top-5">Lançamento da semana: CASE TÁTICA MODULAR</p>
			</div>
		</div>
		<p class="box a1 padding-11 bold margin-bottom-10 center" style="color:white">Se liga nas fotos e vídeos 📷 👇</p>

		<!-- carousel -->
		<div class="box a1 container h-center margin-top-10">
			<div class="box a2-3 container">
			  <img class="box a1 mySlides" src="images/product/2.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/1.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/3.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/4.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/5.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/6.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/7.jpg" style="width:100%">
			</div>
		</div>

		<!-- buy -->
		<div class="box b1 container h-center margin-top-15">
			<div class="mobile-box b3-4 container radius-5 height-60 pointer" onclick="lib.openExternalLink('https://produto.mercadolivre.com.br/MLB-2084384887-case-capa-transporte-rifle-fuzil-airsoft-ja-rio-militar-_JM')" style="background-color:#029e4c;">
				<div class="box b1 em15 center bold" style="color:white;">Compre agora mesmo!</div>
			</div>
		</div>

		<!-- description -->
		<div class="box a1 container h-center">
			<div class="mobile-box a3-4 container center" style="color:#fff">
				<p class="box a1 margin-top-10">Lançamento J.A Rio Militar</p>
				<p class="box a1 em13 bold margin-top-5">CASE TÁTICA MODULAR</p>

				<p class="box a1 margin-top-5">Não tenha problemas para guardar, proteger e transportar os seus equipamentos táticos com a case modular!</p>
				<p class="box a1 margin-top-5">Esta peça é confeccionada em tecido Cordurex e fitas de nylon/polipropileno, e conta com um acolchoado interno para evitar arranhões ou danos nos seus equipamentos.</p>
				<p class="box a1 margin-top-5">A case tática contém sistema de regulagens internos para acoplar armas reais ou fictícias, firmando-a na peça. Possui também bolsos internos cobrindo toda a sua estrutura com fechamento em zíperes.</p>
				<p class="box a1 margin-top-5">Para facilitar o transporte da sua case tática, ela disponibiliza duas formas de ser carregada: através de 2 alças laterais; através de 2 alças traseiras (cumprindo disposição de mochila).</p>
				<p class="box a1 margin-top-5">Além de possuir bolsos internos, dispõe também do sistema modular: um sistema internacional de acoplamento de peças. Desse modo, é possível inserir na case qualquer peça modular, facilitando o transporte de diversos acessórios junto à case tática.</p>
			</div>
		</div>

		<!-- video -->
		<div class="box a1 container h-center margin-top-10">
			<iframe class="box a3-4 container" width="560" height="315" src="https://www.youtube.com/embed/5aTfSyMgsUQ" title="Lançamento Case Tática Modular J.A Rio Militar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>
		</div>

		<!-- buy -->
		<div class="box b1 container h-center margin-top-15">
			<div class="mobile-box b3-4 container radius-5 height-60 pointer" onclick="lib.openExternalLink('https://produto.mercadolivre.com.br/MLB-2084384887-case-capa-transporte-rifle-fuzil-airsoft-ja-rio-militar-_JM')" style="background-color:#029e4c;">
				<div class="box b1 em15 center bold" style="color:white;">Reserve a sua case tática agora!</div>
			</div>
		</div>

		<!-- rodape -->
		<p class="box b1 center padding-10 margin-top-10" style="color:white">J.A Rio Militar 2021® Todos os direitos reservados</p>
	</section>
</body>
<footer>
	<% include ./../partials/footer %>
<script>
	// CAROUSEL
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}

	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}

	setInterval(() => {
		plusDivs(1);
	}, 3000)

	// COUNTDOWN
	// Set the date we're counting down to
	var countDownDate = new Date("Nov 12, 2021 12:00:00").getTime();

	// Update the count down every 1 second
	var x = setInterval(function() {

	// Get today's date and time
	var now = new Date().getTime();

	// Find the distance between now and the count down date
	var distance = countDownDate - now;

	// Time calculations for days, hours, minutes and seconds
	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	// Display the result in the element with id="demo"
	document.getElementById("demo").innerHTML = days + "d " + hours + "h "
	+ minutes + "m " + seconds + "s ";

	// If the count down is finished, write some text
	if (distance < 0) {
	clearInterval(x);
		document.getElementById("demo").innerHTML = "PRODUTO À VENDA";
		}
	}, 1000);
</script>
</footer>
</html>