<!DOCTYPE html>
<html>
<head>
	<title>Modelo de Design</title>
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/elements.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/visual.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/dropdown.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/sidenav.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/actions.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/size.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/position.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/image.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/box.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/responsivity.css">

	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/fonts.css">

	<link rel="stylesheet" type="text/css" href="css/style.css"> 
</head>
<body>
	<!-- cabeçalho -->
   <div class="container"> 
     	<div class="box a1 container height-100 header">
     	<img class="box a1 center img-logo" src="/images/jariomilitar.png"> 
        </div>
   </div>

<!-- banner -->
<div class="container">
	<img class="box a1" src="/images/SemTítulo-4.png">
</div>

<!-- régua de informações -->
	<div class="container">
		<div class="box b5 container margin-top-10">
			<img class="box b4 center size-60" src="/images/24-hour-service.png">
			<div class="box b3-4 container">
				<div class="box b1 em13 impact padding-5">Atendimento 24h</div>
				<div class="box b1 padding-5">Ligue agora mesmo</div>
			</div>
		</div>

		<div class="box b5 container margin-top-10">
			<img class="box b4 center size-60" src="/images/dollar-paper-bills.png">
			<div class="box b3-4 container">
				<div class="box b1 em13 impact padding-5">Formas Pagamento</div>
				<div class="box b1 padding-5">Conheça agora</div>
			</div>
		</div>

		<div class="box b5 container margin-top-10">
			<img class="box b4 center size-60" src="/images/hanging-calendar.png">
			<div class="box b3-4 container">
				<div class="box b1 em13 impact padding-5">Entrega Rápida</div>
				<div class="box b1 padding-5">Via Correios</div>
			</div>
		</div>

		<div class="box b5 container margin-top-10">
			<img class="box b4 center size-60" src="/images/open.png">
			<div class="box b3-4 container">
				<div class="box b1 em13 impact padding-5">Loja Física</div>
				<div class="box b1 padding-5">Rio de Janeiro</div>
			</div>
		</div>

		<div class="box b5 container margin-top-10">
			<img class="box b4 center size-60" src="/images/present-box.png">
			<div class="box b3-4 container">
				<div class="box b1 em13 impact padding-5">Presentes</div>
				<div class="box b1 padding-5">Para você</div>
			</div>
		</div>
<!-- produtos -->
		<div class="box b4 container border-explicit padding-10 radius-5 shadow2-hover margin-top-15">
			<img class="box b1 center border-explicit width-200" src="/images/_MG_7780.jpg">
			<div class="box b1 container">
				<div class="box b1 em13 impact center padding-5">Colete Tático</div>
				<div class="box b1 center padding-5">Colete Tático Modular Marrom + 8 Acessórios</div>
				<div class="box b1 em13 impact center padding-5">R$289,97</div>
				<button class="box b1 padding-10 border radius-5 shadow-hover btn-buy" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/coletes-taticos/colete-tatico-modular-plate-carrier-8-pecas-marrom-bahia')">COMPRAR AGORA</button>
			</div>
        </div>
		
		<div class="box b4 container border-explicit padding-10 radius-5 shadow2-hover margin-top-15">
			<img class="box b1 center border-explicit width-200" src="/images/SemTítulo-5.png">
			<div class="box b1 container">
				<div class="box b1 em13 impact center padding-5">Colete Tático</div>
				<div class="box b1 center padding-5">Colete Tático Modular Preto + 8 Acessórios</div>
				<div class="box b1 em13 impact center padding-5">R$289,97</div>
				<button class="box b1 padding-10 border radius-5 shadow-hover btn-buy" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/coletes-taticos/colete-tatico-modular-plate-carrier-8-pecas-preto')">COMPRAR AGORA</button>
			</div>
		</div>

		<div class="box b4 container border-explicit padding-10 radius-5 shadow2-hover margin-top-15">
			<img class="box b1 center border-explicit width-200" src="/images/_MG_7780.jpg">
			<div class="box b1 container">
				<div class="box b1 em13 impact center padding-5">Colete Tático</div>
				<div class="box b1 center padding-5">Colete Tático Modular Marrom + 8 Acessórios</div>
				<div class="box b1 em13 impact center padding-5">R$289,97</div>
				<button class="box b1 padding-10 border radius-5 shadow-hover btn-buy" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/coletes-taticos/colete-tatico-modular-plate-carrier-8-pecas-marrom-bahia')">COMPRAR AGORA</button>
			</div>
		</div>
        
        <div class="box b4 container border-explicit padding-10 radius-5 shadow2-hover margin-top-15">
			<img class="box b1 center border-explicit width-200" src="/images/_MG_7780.jpg">
			<div class="box b1 container">
				<div class="box b1 em13 impact center padding-5">Colete Tático</div>
				<div class="box b1 center padding-5">Colete Tático Modular Marrom + 8 Acessórios</div>
				<div class="box b1 em13 impact center padding-5">R$289,97</div>
				<button class="box b1 padding-10 border radius-5 shadow-hover btn-buy" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/coletes-taticos/colete-tatico-modular-plate-carrier-8-pecas-marrom-bahia')">COMPRAR AGORA</button>
			</div>
		</div>

	</div>
</body>
<footer>
	<script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/lib.js"></script>
	<script src="https://jaframework.herokuapp.com/front-end/javascripts/essentials/api.js"></script>
</footer>
</html>