<!DOCTYPE html>
<html>
<head>
	<title>Saiba mais sobre o seu produto!</title>
	<meta name="description" content="JA Rio Militar, melhor custo benefício em equipamentos militares. Conheça nossa Case Modular, Produto 100% nacional.">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="canonical" href="https://www.jariomilitar.com/">
	<link rel="icon" href="https://images.tcdn.com.br/img/img_prod/698194/1632754311_favicon.ico?617bdd2ab7355" type="image/x-icon">
	<style type="text/css">

		.mySlides {display:none;}
		.b4tob2 {width: 24%; margin-left: 0.5%; margin-right: 0.5%;}
		@media (max-width: 780px) {
		.b4tob2 {width: 49%; margin-left: 0.5%; margin-right: 0.5%;}
		}
	</style>
</head>
<body>
	<% include ./../partials/head %>
<section class="container" style="background-color:#0b0a08">
		<!-- banner -->
		<div class="box a1 container h-center">
			<div class="box a2-3 container"><img class="image-fit bg" src="images/icon/banner.png"></div>
		</div>

		<!-- Texto 1 -->
		<div class="box a1 container center padding-10">
			<div class="box b1 padding-15 radius-5" style="background-color:#f1472a">
			<p class="em11" style="color:#fff">Os equipamentos táticos tem como objetivo auxiliar o usuário a atingir a sua melhor performance e, para isso, é extremanente importante conhecer o próprio equipamento. Não se preocupe, vamos te ajudar:</p>
			</div>
		</div>

		<!-- Texto 2 -->
		<p class="box a1 center em12" style="color:#fff">Qual equipamento tático você adquiriu conosco? 👇</p>

		<!-- Produtos -->
	
		<div id="catalog-products" class="box a1 container"></div>

		
		<!-- carousel -->
		<div class="box a1 container h-center margin-top-10">
			<div class="box a2-3 container">
			  <img class="box a1 mySlides" src="images/product/2.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/1.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/3.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/4.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/5.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/6.jpg" style="width:100%">
			  <img class="box a1 mySlides" src="images/product/7.jpg" style="width:100%">
			</div>
		</div>

	</section>
	<!-- footer -->
	<section class="box a1 container em08 padding-10" style="background-color:#0b0a08;color:#f4f3f4; text-align:left">
		<b>Regras e informações do Esquenta Blackout 2021:</b>
		<p>As promoções antecedentes ao mês da Black Friday (novembro) estarão ativas a partir dia 29/10/2021 até o dia 31/10/2021.</p>
		<p>As promoções serão ofertadas em links disponibilizados pela J.A Rio Militar, não sendo possível a compra com os valores visíveis nesta página em plataformas diferentes.</p>
		<p>Não serão aceitas compras em atacado e/ou para revenda.</p>
		<p>Todos os anúncios acima se referem a apenas UMA unidade do produto indicado na foto.</p>
		<p>Promoções válidas enquanto durarem estoques.</p>
		<p class="box b1 center padding-10" style="color:white">J.A Rio Militar 2021® Todos os direitos reservados</p>
	</section>
</body>
<footer>
	<% include ./../partials/footer %>
<script>
		const products = [
			{ name: "Coldre de Perna Universal", img: 'https://lh3.googleusercontent.com/glsgmb/AJtb4XD8kmQ3UUajxmvCDkROcpze8zikaoxDcMhGEBLdL5TUGc-DznZ5VzHYcNjwS_WGEaqvbRroNi7VaR2V0DlRYV8dvA=w304-h899-rw-no-sc0x00ffffff', link: ""},
			{ name: "Colete Tático Plate Carrier", img: "https://lh3.googleusercontent.com/glsgmb/AJtb4XCTeJlCg-Kq9F9YbPlGaeQFYNKBw8nYQ8Aub8rxS0J5ZSILEnWl09TnysX1p6UzGUj0g1KfTHXO3I5K8-zuJsElCw=w304-h899-rw-no-sc0x00ffffff", link: ""},
			{ name: "Cinto Modular", img: "https://i.ibb.co/Nsk83Fx/1.png", link: "" },
			{ name: "Drop Mag Modular", img: "https://http2.mlstatic.com/D_NQ_NP_2X_820949-MLB47078307578_082021-F.webp", link: "https://produto.mercadolivre.com.br/MLB-2070805256-drop-mag-modular-ja-rio-militar-_JM" },
			{ name: "Cinto Tático", img: "https://http2.mlstatic.com/D_NQ_NP_2X_747721-MLB47148802770_082021-F.webp", link: "https://produto.mercadolivre.com.br/MLB-2066692634-cinto-tatico-fivela-de-polimero-ja-rio-militar-_JM" },
			{ name: "Coldre Cueca", img: "https://http2.mlstatic.com/D_NQ_NP_719150-MLB40375369703_012020-O.webp", link: "https://produto.mercadolivre.com.br/MLB-2070832337-coldre-cueca-ja-rio-militar-_JM" },
			{ name: "Bornal 3 PST", img: "https://http2.mlstatic.com/D_NQ_NP_2X_609721-MLB47007425769_082021-F.webp", link: "https://produto.mercadolivre.com.br/MLB-2070839763-bornal-com-porta-carr-de-pistola-triplo-ja-rio-militar-_JM" },
			
		];

		let html = "";
		for(let i = 0; i < products.length; i++){
			html += "<div class='mobile-box b4tob2 container center padding-15 radius-5 margin-top-10 pointer' style='background-color:white' onClick='lib.openExternalLink(`"+products[i].link+"`)'>";
				html += "<div class='box a1 container'><img class='image-fit radius-5 size-300' src='"+products[i].img+"'></div>";
				html += "<p class='box a1 em11 bold padding-10 center' style='color:black'>"+products[i].name+"</p>";
			html += "</div>";
			};

		document.getElementById("catalog-products").innerHTML = html;

	// CAROUSEL
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}

	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}

	setInterval(() => {
		plusDivs(1);
	}, 3000)

	
</script>
</footer>
</html>