<!DOCTYPE html>
<html>
<head>
	<title>JA Rio Militar - Colete tático Plate Carrier</title>
	<meta name="description" content="JA Rio Militar, melhor custo benefício em equipamentos militares. Conheça nosso Plate Carrier o colete mais vendido do Brasil em 2020, Produto 100% nacional.">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="canonical" href="https://www.jariomilitar.com/">
	<link rel="shortcut icon" href="/images/ico/favicon-black.ico" />
	<!-- framework server -->
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/elements.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/visual.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/dropdown.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/sidenav.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/actions.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/size.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/position.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/image.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/box.css">
	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/responsivity.css">

	<link rel="stylesheet" type="text/css" href="https://jaframework.herokuapp.com/front-end/stylesheets/fonts.css">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing-page/presentation.css">
</head>

<body>
	<header class="container" style="background-color: #000; color: #fff;">
		<div class="mobile-box a1 center">
			<img class="width-150 opacity-hover-09 pointer noSelect" src="/images/favicon/favicon-white.png" alt="JA Rio Militar">
		</div>
	</header>
	<section class="box a1 container">
		<section class="box a3 container height-550">
			<img src="https://http2.mlstatic.com/D_NQ_NP_2X_775597-MLB45985467985_052021-F.webp" alt="Colete tático plate carrier" class="image-fit">
		</section>
		<section class="box a2-3 container height-550">
			<div class="box a1 container" style="background-color:#000">
				<div class="box a1 container">
					<iframe class="box a1" width="560" height="550" src="https://www.youtube.com/embed/tRRWCaf5AUA" title="JA Rio Militar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</section>
	</section>
	<div class="container" style="background-color:#141414;background-image: url('/images/background/bg2.png');color:#c8c8c8">
		<div class="box a1 container" style="background-color:#000">
			<form id="lead-save-form" class="box a1 container padding-10">
				<span class="box b1 underline-explicit em12 center margin-top-5 bold" style="color:#fff;">Resgate seu cupom de 10% de desconto</span>
				<input type="text" name="name" class="box b3 avant-garde em11 padding-10 radius-5 border margin-top-5 center" style="background-color:#f0f0f0;" placeholder="Nome" autocomplete="off">
				<input type="text" name="email" class="box b3 avant-garde em11 padding-10 radius-5 border margin-top-5 center" style="background-color:#f0f0f0;" placeholder="E-mail" autocomplete="off">
				<input type="submit" name="submit" class="box b3 btn-google gray em13 radius-5 margin-top-5 pointer center" value="Resgatar">
			</form>
		</div>
	</div>

	<section class="box a1 container margin-top-10">
		<div class="box b3 container ground pointer padding-10 margin-top-5 shadow-hover">
			<div class="box one"><img class="image-card" src="https://http2.mlstatic.com/D_NQ_NP_2X_886996-MLB43532502268_092020-F.webp" alt="Colete tático Plate carrier tan"/></div>
			<div class="box one avant-garde center em10 padding-10 bold" style="color:#323232;">Plate Carrier Tan</div>
			<input type="button" class="mobile-box a2c em10 btn-google blue pointer bold" onclick="lib.openExternalLink('https://jariomilitar.commercesuite.com.br/todos-os-produtos/colete-modular-plate-carrier-8-pecas-tan')" style="color:#fff" value="Comprar agora">
		</div>
		<div class="box b3 container ground pointer padding-10 margin-top-5 shadow-hover">
			<div class="box one"><img class="image-card" src="https://http2.mlstatic.com/D_NQ_NP_2X_727488-MLB43532646380_092020-F.webp" alt="Colete tático Plate carrier verde"/></div>
			<div class="box one avant-garde center em10 padding-10 bold" style="color:#323232;">Plate Carrier Verde</div>
			<input type="button" class="mobile-box a2c em10 btn-google blue pointer bold" onclick="lib.openExternalLink('https://jariomilitar.commercesuite.com.br/todos-os-produtos/colete-modular-plate-carrier-8-pecas-verde')" style="color:#fff" value="Comprar agora">
		</div>
		<div class="box b3 container ground pointer padding-10 margin-top-5 shadow-hover">
			<div class="box one"><img class="image-card" src="https://http2.mlstatic.com/D_NQ_NP_2X_674329-MLB45976695644_052021-F.webp" alt="Colete tático Plate carrier preto"/></div>
			<div class="box one avant-garde center em10 padding-10 bold" style="color:#323232;">Plate Carrier Preto</div>
			<input type="button" class="mobile-box a2c em10 btn-google blue pointer bold" onclick="lib.openExternalLink('https://jariomilitar.commercesuite.com.br/todos-os-produtos/colete-modular-plate-carrier-8-pecas-preto')" style="color:#fff" value="Comprar agora">
		</div>

		<div class="box b1 padding-10 margin-top-10 ground border">
			<div class="box b1 underline center styled-text em13">Informações técnicas</div>
			<div class="box a1 avant-garde em10 margin-top-5">• Possui interior anti-transpirante que promove maior ventilação durante os dias de calor.</div>
			<div class="box a1 avant-garde em10 margin-top-5">• Ombreiras acolchoadas e antitranspirantes que mantém o colete confortável em usos prolongados.</div>
			<div class="box a1 avant-garde em10 margin-top-5">• Sistema modular que permite você personalizar a posição dos acessórios de acordo com a sua necessidade.</div>
			<div class="box a1 avant-garde em10 margin-top-5">• Conta com sistema avançado de regulagens nos ombros e laterais que moldam o colete exatamente ao seu corpo.</div>
			<div class="box a1 avant-garde em10 margin-top-5">• E também tem entrada para placas rígidas de cerâmica para uso profissional</div>
		</div>
	</section>

	<div class="container padding-10 margin-top-15" style="background-color:#141414;background-image: url('/images/background/bg2.png');color:#c8c8c8">
		<div class="box b12"></div>
		<div class="box b9 border-right center"><img class="image-box width-80" src="/images/favicon/favicon-white.png"></div>
		<div class="box b6">
			<div class="box b1 bold avant-garde margin-top-15 center">JA Rio Militar</div>
			<div class="box b1 font-07 margin-top-5 avant-garde pointer center" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/empresa')">Quem somos</div>
		</div>
		<div class="box b4 container margin-top-5">
			<div class="box b1 avant-garde bold center">Fale conosco</div>
			<div class="box b1 avant-garde margin-top-5 font-08 center">comercial@jariomilitar.com.br</div>
			<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 3449-9000</div>
			<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 96421-1738</div>
		</div>
		<div class="box b4 container center margin-top-5">
			<div class="box b1 container padding-10 center">
				<div class="box b1 avant-garde bold center">Redes sociais</div>
				<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/instagram.png" onclick="lib.openExternalLink('instagram.com/jariomilitar')"></div>
				<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/facebook.png" onclick="lib.openExternalLink('facebook.com/jariomilitarofficial')"></div>
				<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/globe-grid-white.png" onclick="lib.openExternalLink('www.jariomilitar.com.br')"></div>
			</div>
		</div>
	</div>
	<div class="container padding-10" style="background-color:#1e1e1e;color:#c8c8c8">
		<div class="box b4 font-08 avant-garde margin-top-10 padding-10">
			2021 JA Rio Militar® - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
			JC CARVALHO ME. / CNPJ: 14.114.604/0001-73. Inscrição Estadual: 79.695.874
			Endereço Rua Correa Seára, 100, LJ 01, Magalhães Bastos, Rio de Janeiro - RJ. CEP: 21750-320
		</div>
		<div class="box b4 font-08 avant-garde margin-top-10 padding-10">
			Os valores ofertados neste anúncio tem prazo e podem não ser reativados no futuro. <br>O cupom tem validade apenas no site oficial da marca JA Rio Militar: https://www.jariomilitar.com.br
		</div>
		<div class="box b4 container margin-top-10 center">
			<div class="box b1 avant-garde center">Formas de pagamento</div>
			<div class="box b1 container padding-10 center">
				<div class="mobile-box b4"><img class="height-30" src="/images/icon/visa-icon.png"></div>
				<div class="mobile-box b4"><img class="height-30" src="/images/icon/master-card-icon.png"></div>
				<div class="mobile-box b4"><img class="height-30" src="/images/icon/boleto-icon.png"></div>
				<div class="mobile-box b4"><img class="height-30" src="/images/icon/pix-icon.png"></div>
			</div>
		</div>
		<div class="box b4 container center">
			<div class="mobile-box b4 center"><img class="height-50" src="/images/icon/sac.png"></div>
			<div class="mobile-box b3-4 center padding-10">
				<div class="mobile-box b1">RJ (21) 99246-0116</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<% include ./../partials/footer %>
	<script src="/javascripts/scripts/landing-page/plate_carrier.js"></script>
</footer>
</html>