<header class="box a1 container" style="background-color:#212322">
    <div class="container padding-10">
        <img class="width-50 center opacity-out-08 pointer"
            src="https://spaces.jariomilitar.com/erp-images/favicon/favicon-white.png"
            onclick="window.location.href = '/lojista/home'">
        <div class="center padding-10">
        </div>
    </div>
    <div class="container right">
        <div class="container center padding-5 icon" onclick="window.location.href='/lojista'">
            <img class="box a1 size-40 center pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/logo.png">
        </div>
        <img class="noselect icon size-40 padding-20"
            onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/lojista/logout'}"
            src="https://spaces.jariomilitar.com/erp-images/icon/logout-white.png">
    </div>
</header>