<div class="box b1 container">
	<% for(let i in customer.rank.benefits) { %>
		<div class="mobile-box b3 em08 padding-5 bold" style="color:#060">
			<%= customer.rank.benefits[i].description %>
		</div>
	<% } %>
</div>