<div class="box b1 container">
	<% for(let i in customer.rank.benefits) { %>
	<div class="box b2 em08 lucida-grande padding-5 bold" style="color:#060">
		<%= customer.rank.benefits[i].description %>
	</div>
	<% } %>
</div>