<form id="sale-filter-form" class="box b1 container padding-10">
    <div class="box b1 lucida-grande bold underline center">Meus Pedidos</div>
    <select name="status" class="mobile-box b3-10 input-generic margin-top-5 hide-disabled">
        <option value="">Status da venda</option>
        <option value="Em negociação">Em negociação</option>
        <option value="Ag. pagamento">Ag. pagamento</option>
        <option value="Ag. embalo">Ag. embalo</option>
        <option value="Ag. nota fiscal">Ag. nota fiscal</option>
        <option value="Ag. envio">Ag. Envio</option>
        <option value="Enviado">Enviado</option>
    </select>
    <input type="date" name="periodStart" class="mobile-box b3-10 input-generic center margin-top-5" autocomplete="off">
    <input type="date" name="periodEnd" class="mobile-box b3-10 input-generic center margin-top-5" autocomplete="off">
    <button type="submit" name="submit" class="mobile-box b10 noborder margin-top-5 center"><img class="size-25 icon" src="/images/icon/search.png"></button>
</form>