<h3 class="mobile-box a1 lucida-grande center noselect">Estatísticas</h3>
<div class="mobile-box b2 container height-100 border-lg-st margin-top-5 radius-5">
    <div class="box a1 container height-50 center noselect">
        <p class="box b1 em07 lucida-grande bold center">Compras</p>
        <b class="box b1 lucida-grande center">R$<%= saleStatistics.saleValue.toFixed(2) %></b>
    </div>
</div>

<div class="mobile-box b2 container height-100 border-lg-st margin-top-5 radius-5">
    <div class="box a1 container height-50 center noselect">
        <p class="box b1 em07 lucida-grande bold center">Frete</p>
        <b class="box b1 lucida-grande center">R$<%= saleStatistics.shipmentValue.toFixed(2) %></b>
    </div>
</div>

<div class="mobile-box b2 container height-100 border-lg-st margin-top-5 radius-5">
    <div class="box a1 container height-50 center noselect">
        <p class="box b1 em07 lucida-grande bold center">Descontos</p>
        <b class="box b1 lucida-grande center">R$<%= saleStatistics.discountValue.toFixed(2) %></b>
    </div>
</div>

<div class="mobile-box b2 container height-100 border-lg-st margin-top-5 radius-5">
    <div class="box a1 container height-50 center noselect">
        <p class="box b1 em07 lucida-grande bold center">Valor Final</p>
        <b class="box b1 lucida-grande center">R$<%= saleStatistics.totalValue.toFixed(2) %></b>
    </div>
</div>