<div class="box a1 container center padding-5 radius-5">
    <div class="mobile-box b2 container center">
        <img class="max-height-80 image-prop center noselect" src="<%= customer.rank.image %>">
    </div>
    <div class="mobile-box b2 container center">
        <h3 class="em13 lucida-grande center"><%= customer.rank.name %></h3>
        <p class="box a1 em09 bold lucida-grande center">R$<%= customer.rank.min_value.toFixed(2) %> à
            R$<%= customer.rank.max_value.toFixed(2) %></p>
        <div class="right em07 lucida-grande bold underline-link pointer" onclick="lib.display('rank-benefits', '')">Ver
            benefícios</div>
    </div>
</div>