<div id="catalog-filter-box" class="box b1 container min-height-500 center" style="display:none">
  <div id="catalog-filter-div" class="box b1 container center"></div>
  <%- include('./../../partials/carousel.ejs') %>
</div>