<div class="container padding-10" style="background-color:#141414;background-image: url('/images/background/bg2.png');color:#c8c8c8">
	<div class="box b12"></div>
	<div class="box b9 border-right center"><img class="image-box width-80" src="/images/favicon/favicon-white.png"></div>
	<div class="box b6">
		<div class="box b1 bold avant-garde margin-top-15 center">JA Rio Militar</div>
		<div class="box b1 font-07 margin-top-5 avant-garde pointer center" onclick="lib.openExternalLink('https://www.jariomilitar.com.br/empresa')">Quem somos</div>
	</div>
	<div class="box b4 container margin-top-5">
		<div class="box b1 avant-garde bold center">Fale conosco</div>
		<div class="box b1 avant-garde margin-top-5 font-08 center">comercial@jariomilitar.com.br</div>
		<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 3449-9000</div>
		<div class="box b1 avant-garde margin-top-5 font-08 center">(21) 96421-1738</div>
	</div>
	<div class="box b4 container center margin-top-5">
		<div class="box b1 container padding-10 center">
			<div class="box b1 avant-garde bold center">Redes sociais</div>
			<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/instagram.png" onclick="lib.openExternalLink('instagram.com/jariomilitar')"></div>
			<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/facebook.png" onclick="lib.openExternalLink('facebook.com/jariomilitarofficial')"></div>
			<!-- <div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/youtube.png" onclick="lib.openExternalLink('')"></div> -->
			<div class="mobile-box b3 margin-top-5"><img class="height-40 pointer" src="/images/icon/globe-grid-white.png" onclick="lib.openExternalLink('www.jariomilitar.com.br')"></div>
		</div>
	</div>
</div>
<div class="container padding-10" style="background-color:#1e1e1e;color:#c8c8c8">
	<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
		2021 JA Rio Militar® - Loja e fábrica de artigos militares e esportivos. Todos os direitos reservados.
		JC CARVALHO ME. / CNPJ: 14.114.604/0001-73. Inscrição Estadual: 79.695.874
		Endereço Rua Correa Seára, 100, LJ 01, Magalhães Bastos, Rio de Janeiro - RJ. CEP: 21750-320
	</div>
	<div class="box b3 font-08 avant-garde margin-top-10 padding-10">
		Os valores ofertados neste catálogo são exclusivos para representantes ou lojistas cadastrados e com valor mínimo de compra exigido de R$1000,00. <br>Para realizar seu cadastro entre em contato através do WhatsApp (33) 99999-9961 e envie suas informações. <br>Vendas parceladas são realizadas sob análise prévia.
	</div>
	<!-- <div class="box b4 container margin-top-10 center">
		<div class="box b1 avant-garde center">Formas de pagamento</div>
		<div class="box b1 container padding-10 center">
			<div class="mobile-box b4"><img class="height-30" src="/images/icon/visa-icon.png"></div>
			<div class="mobile-box b4"><img class="height-30" src="/images/icon/master-card-icon.png"></div>
			<div class="mobile-box b4"><img class="height-30" src="/images/icon/boleto-icon.png"></div>
			<div class="mobile-box b4"><img class="height-30" src="/images/icon/pix-icon.png"></div>
		</div>
	</div> -->
	<div class="box b3 container center">
		<div class="mobile-box b4 center"><img class="height-50" src="/images/icon/sac.png"></div>
		<div class="mobile-box b3-4 center padding-10">
			<div class="mobile-box b1">RJ (21) 99246-0116</div>
		</div>
	</div>
</div>