<header class="box a1 container" style="background-color:#212322;position:sticky;z-index:10;top:0;">
  <div class="container padding-10">
    <img class="width-70 center opacity-out-08 pointer"
      src="https://spaces.jariomilitar.com/erp-images/favicon/favicon-white.png"
      onclick="window.location.href=`/catalogo<%= catalog.path %>`">
    <div class="center padding-10">
    </div>
  </div>
  <div class="container right padding-10">
    <div class="container center padding-5 opacity-out-08"
      onclick="lib.openExternalLink('https://jariomilitar.com/portal-do-lojista')">
      <img class="box a1 size-40 center pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/logo.png">
    </div>
    <div class="container center padding-5 opacity-out-08" onclick="lib.openExternalLink('instagram.com/jariomilitar')">
      <img class="box a1 size-40 center pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/insta-logo.png">
    </div>
  </div>
</header>