<header class="container ground shadow">
	<div class="mobile-box b3">
		<img class="width-100 opacity-out-08 pointer" onclick="window.location.href=`/catalogo<%= catalog.path %>`" src="/images/favicon/favicon-black.png">
	</div>
	<div class="mobile-box b2-3 container center">
		<div class="right container">
			<div class="mobile-box padding-5 margin-left-15">
				<img class="right width-30 opacity-out-07 pointer" onclick="lib.openExternalLink('instagram.com/jariomilitar')" src="/images/icon/bw-instagram.png">
			</div>
			<div class="mobile-box padding-5 margin-left-15 margin-right-10">
				<img class='right width-30 opacity-out-07 pointer' src='/images/icon/menu.png' onclick="openNav()">
			</div>
		</div>
	</div>
</header>