<div id="zoom-img-box" class="box a1 container msg-window h-center" style="display:none;">
	<div class="box a-5-6 container ground padding-10 margin-top-30 border">
		<div class="box b1 container">
			<div class="mobile-box b9-10"></div>
			<img class="mobile-box b10 size-40 icon transition-02-02 pointer margin-top-20" src="/images/icon/close-black.png" onclick="lib.display('zoom-img-box', 'none')">
		</div>
		<img id="zoom-img" class="box b1" src="">
	</div>
</div>