<form id="article-filter-form" class="box a2 container ground radius-15 padding-10">
	<input type="text" name="title" class="mobile-box b8-9 noborder center font-black" type="text"
		placeholder="Procurar artigos...">
	<input type="hidden" name="category" value="">
	<button type="submit" name="submit" class="mobile-box b9 noborder center noselect"><img
			class="opacity-in-08 pointer size-25 center" src="/images/icon/search.png"></button>
</form>