<style type="text/css">
	.box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%;}
	.box-category { width: 19%; margin-left: 0.5%; margin-right: 0.5%; }
	.b4-b2 { width: 24%; margin-left: 0.5%; margin-right: 0.5%;}
	.category-article { position: absolute; top: 182.5px; left: 10px; }

	@media (max-width: 800px) {
		.box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%; }
		.box-category {width: 49%; margin-left: 0.5%; margin-right: 0.5%;}
		.b4-b2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }
	}
</style>

<section class="box a1 container padding-15" style="background-color:#1e1e1e;color:white">
	<div class="box b4-b2 container margin-top-10 padding-10">
		<img class="box a1" src="https://spaces.jariomilitar.com/PortaldoLojista/missao.png">
	</div>
	<div class="box b4-b2 container margin-top-10 padding-10">
		<div class="box b1 margin-top-5 em13 bold font-white">Categorias</div>
		<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Vendas</div>
		<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Lançamentos</div>
		<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Atendimento ao cliente</div>
		<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Promoções</div>
		<div class="box b1 margin-top-10 pointer em08 opacity-in-08">Revenda J.A Rio Militar</div>
	</div>
	<div class="box b4-b2 container margin-top-10 padding-10">
		<div class="box b1 margin-top-5 em13 bold">O que é o Portal do Lojista</div>
		<p class="em08 margin-top-5">O Portal do Lojista é um ambiente de dicas e suporte aos lojistas (com foco no público militar). O blog foi desenvolvido pela J.A Rio Militar com o intuito de fornecer ajuda aos empresários que, dia após dias, contribuem com o comércio e distribuição de produtos militares e esportivos. No Portal do Lojista há artigos sobre atendimento ao cliente, vendas on-line, lançamentos, promoções, materiais publicitários, etc.</p>
	</div>
	<div class="box b4-b2 container margin-top-10 padding-10">
		<div class="box b1 margin-top-5 em13 bold">Revenda e aumente o faturamento da sua empresa</div>
		<img class="box b1 margin-top-5 size-300 pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/botaowhatsapp.png" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521964211738&text=Ol%C3%A1.%20Quero%20revender%20produtos%20J.A%20Rio%20Militar%C2%AE')">
	</div>
	<p class="box b1 em09 lucida-grande center">J.A Rio Militar 2021® Todos os direitos reservados</p>
</section>