<section class="box a1 container" style="background-color:#212322">
	<div class="container padding-10">
		<img class="height-60 center pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/logo.png" onclick="window.location.href = '/portal-do-lojista'">
		<div class="center padding-10">
			<p class="center em17 bold noselect" style="color:#f3f4f4">Portal do Lojista</p>
			<p class="em07 noselect" style="color:#f3f4f4">Desenvolvido por J.A Rio Militar®</p>
		</div>
	</div>
	<div class="container right">
		<div class="container center padding-5 hide-in-mobile" onclick="window.location.href='/lojista/login'">
			<img class="box a1 size-40 center pointer" src="https://spaces.jariomilitar.com/PortaldoLojista/user.png">
			<p class="box a1 center bold pointer" style="color:#f3f4f4">Minha conta</p>
		</div>
	</div>
</section>