<section class="box a1 container margin-top-10 h-center">
	<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
		<p class="center padding-4" onclick="Blog.article.controller.filterByCategory('Vendas')" style="color:#f3f4f4">Dicas
			de Vendas</p>
	</div>
	<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
		<p class="center padding-4" onclick="Blog.article.controller.filterByCategory('Tendências')" style="color:#f3f4f4">
			Tendências</p>
	</div>
	<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
		<p class="center padding-4" onclick="Blog.article.controller.filterByCategory('Lançamento')" style="color:#f3f4f4">
			Lançamentos</p>
	</div>
	<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
		<p class="center padding-4" onclick="Blog.article.controller.filterByCategory('Promoção')" style="color:#f3f4f4">
			Promoções</p>
	</div>
	<div class="box box-category container radius-10 margin-top-5 pointer shadow-hover" style="background-color:#696969">
		<p class="center padding-4" onclick="Blog.article.controller.filterByCategory('Revenda JA®')" style="color:#f3f4f4">
			Revenda JA Rio Militar®</p>
	</div>
</section>