<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./components/header %>
        <section class="container">
            <% include ./components/sale-history %>

            <div class="box b3 container ground border radius-5 padding-10 margin-top-10">
                <% include ./components/sale-rank %>
                <% include ./components/sale-statistics %>
            </div>
        </section>
    </body>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</html>