<html>
    <head>
        <% include ./../partials/head %>
        <style type="text/css">
            .box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%;}
            .box-category { width: 19%; margin-left: 0.5%; margin-right: 0.5%; }
            .b4-b2 { width: 24%; margin-left: 0.5%; margin-right: 0.5%;}
            .category-article { position: absolute; top: 182.5px; left: 10px; }

            @media (max-width: 800px) {
                .box-article { width: 350px; height: 335px; margin-left: 0.5%; margin-right: 0.5%; }
                .box-category {width: 49%; margin-left: 0.5%; margin-right: 0.5%;}
                .b4-b2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }
            }
        </style>
    </head>
    <body>
        <% include ./components/header %>
        <section class="container">
            <div class="box b1 container ground border radius-5 padding-10 margin-top-10">
                <div class="box b6 container">
                    <% include ./components/customer-info %>
                </div>
                <div class="box b3 container">
                    <% include ./components/sale-rank %>
                </div>
                <div id="rank-benefits" class="box b2 container border padding-5 radius-5 relative" style="display: none;">
                    <% include ./components/rank-benefits %>
                    <div class="bold em12 lucida-grande icon pointer" onclick="lib.display('rank-benefits', 'none')" style="position:absolute;top:0px;right:10px;">x</div>
                </div>
            </div>
            
            <div class="box b2-3 container ground border radius-5 padding-10 margin-top-10">
                <% include ./components/sale-history %>
            </div>

            <div class="box b3 container ground border radius-5 padding-10 margin-top-10">
                <% include ./components/sale-statistics %>
            </div>

            <div id="rank-list" class="box b3 container ground border padding-5 margin-top-10 radius-5 relative h-center">
                <% include ./components/rank-list %>
            </div>


            <section class="box b2-3 container min-height-400 margin-top-10 h-center">
                <div class="box a1 container padding-10 h-center" style="display:none;">
                    <% include ./../blog/components/article-filter-form %>
                </div>
                <div id="article-filter-box" class="box b1 container ground border radius-5 center" style="display:none">
                    <div class="box b1 lucida-grande bold margin-top-5 underline center">Artigos indicados para você</div>
                    <div id="article-filter-div" class="box b1 container h-center height-400 scroll-y"></div>
                    <% include ./../partials/carousel %>
                </div>
            </section>
        </section>
        <% include ./../blog/components/footer %>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>

        <script src="/javascripts/scripts/blog/model/article.js"></script>
        <% include ./../blog/partial %>
        <script>
            Blog.article.controller.filter.submit.click();
        </script>
    </footer>
</html>