<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <header class="container h-center" style="background-color:#000;">
            <img class="image-prop width-100 opacity-out-08 pointer" onclick="window.location.href='/lojista'" src="/images/favicon/favicon-white.png">
        </header>
        <section class="container h-center margin-top-100 lucida-grande">
            <form id="customer-password-form" class="box b3 container ground border margin-top-15 padding-10 radius-10">
                <div class="box b1 underline georgia margin-top-10 center noselect">Digite sua nova senha</div>
                <input type="hidden" name="token" value="<%= token %>">
                <input type="password" name="password" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" maxlength="60" autocomplete="off" placeholder="Nova senha" autocomplete="" required>
                <input type="password" name="password-confirm" class="box b1 em11 georgia border-bottom padding-10 margin-top-5" maxlength="60" autocomplete="off" placeholder="Confirmar senha" required>
                <input type="submit" class="box b1 em12 lucida-grande bold border-lg-st shadow-hover padding-5 margin-top-5 radius-5 noselect pointer" value="Atualizar senha">
                <div class="em09 right underline-link pointer margin-top-10" onclick="lib.openExternalLink('https://api.whatsapp.com/send?phone=5521999659635&text=Ol%C3%A1%2C%20preciso%20cadastrar%20meu%20e-mail%20para%20acessar%20meu%20perfil%20de%20lojista.')">Contatar consultor</div>
            </form>
        </section>
        <section id="customer-recover-response" class="container h-center lucida-grande margin-top-10" style="display:none;"></section>
        <% include ./../partials/loader %>
    </body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
    </footer>
</html>