<form id="article-content-form" class="box b2-3 container ground border padding-10 margin-top-10 radius-5 margin-bottom-300" style="display: none;">
	<input type="hidden" name="id" value="">
	<input type="hidden" name="article-id" value="">
	<select name="tag-name" class="mobile-box b6 input-generic margin-top-5 radius-5 center hide-disabled">
		<option value="" selected disabled>Tag</option>
		<option value="div">div</option>
		<option value="h1">h1</option>
		<option value="h3">h3</option>
		<option value="p">p</option>
		<option value="img">img</option>
	</select>
	<input type="text" name="tag-style" class="mobile-box b3-4 input-generic margin-top-5 radius-5 center" placeholder="Estilos CSS3" autocomplete="off">
	<textarea name="content" class="box b11-12 height-100 avant-garde margin-top-5 padding-5 radius-5"></textarea>
	<button type="submit" name="submit" class="box b12 container height-100 noborder margin-top-5 center"><img class='size-20 icon center pointer' src="https://spaces.jariomilitar.com/erp-images/icon/increase.png"></button>
</form>