<form id="article-filter-form" class="box b1 container ground padding-10 border">
	<div class="box b1 lucida-grande bold underline center">Procurar artigos</div>
	<input type="text" name="title" class="box b3 input-generic margin-top-5 center" placeholder="Título do artigo" autocomplete="off">
	<input type="text" name="subtitle" class="box b3 input-generic margin-top-5 center" placeholder="Subtítulo do artigo" autocomplete="off">
	<select name="category" class="box b4 input-generic margin-top-5 center hide-disabled">
		<option value="" selected disabled>Categoria</option>
		<option value="Tendências">Tendências</option>
		<option value="Vendas">Vendas</option>
		<option value="Lançamento">Lançamento</option>
		<option value="Promoção">Promoção</option>
		<option value="Revenda JA®">Revenda JA Rio Militar®</option>
	</select>
	<button type="submit" name="submit" class="box b12 noborder center noselect margin-top-5"><img src="/images/icon/search.png" class="size-25 opacity-out-08 pointer"></button>
</form>