<form id="article-create-form" class="box b2-3 container ground border padding-10 margin-top-10 radius-5">
	<div class="mobile-box b11-12 em12 lucida-grande bold underline center">Novo artigo</div>
	<div class="mobile-box b12 container center"><img src="https://spaces.jariomilitar.com/erp-images/icon/up-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('article-create-display', this, 'https://spaces.jariomilitar.com/erp-images/icon/down-arrow.png', 'https://spaces.jariomilitar.com/erp-images/icon/up-arrow.png')"></div>
	
	<div id="article-create-display" class="box a1 container">
		<!-- flow prev -->
		<div id="flow-prev" class="box b12 container height-60 margin-top-10 center" style="display:none;"><img onclick="Article.flow.prev()" src="https://spaces.jariomilitar.com/erp-images/icon/previous-icon.png" class="size-30 icon center pointer"></div>
		
		<!-- article form input -->
		<input type="hidden" name="id">
		<input type="text" name="title" class="box b11-12 container em11 bold lucida-grande height-50 margin-top-15 noborder border-bottom margin-top-5 center" placeholder="Título" autocomplete="off">
		<textarea name="subtitle" class="box b5-6 height-70 avant-garde padding-5 margin-top-5 radius-5" placeholder="Sub-título" style="display:none;" autocomplete="off"></textarea>
		<input type="text" name="image" class="box b5-6 lucida-grande height-50 margin-top-15 noborder border-bottom margin-top-5 center" placeholder="URL Imagem de capa" style="display:none;" autocomplete="off">
		<select name="category" class="box b5-6 em12 bold lucida-grande height-50 margin-top-15 noborder border-bottom margin-top-5 center hide-disabled" style="display:none;">
			<option value="" selected disabled>Categoria</option>
			<option value="Tendências">Tendências</option>
			<option value="Vendas">Vendas</option>
			<option value="Lançamento">Lançamento</option>
			<option value="Revenda JA®">Revenda JA Rio Militar®</option>
		</select>
		
		<!-- flow next -->
		<div id="flow-next" class="box b12 container height-60 margin-top-10 center"><img onclick="Article.flow.next()" src="https://spaces.jariomilitar.com/erp-images/icon/next-icon.png" class="size-30 icon center pointer"></div>
		
		<input type="submit" name="submit" class="box b11-12 lucida-grande bold height-50 margin-top-15 border-lg-st transition-01-01 radius-5 pointer" value="Começar Artigo" style="display:none;">
	</div>
</form>

<!-- Breve História da empresa -->
<!-- Testemunho de lojista -->
<!-- Beneficios das patentes -->
<!-- Vídeo Institucional -->
<!-- Redes sociais posts -->
<!-- Portal do Lojista -->
<!-- Passo a Passo para comprar -->
<!-- Acompanhamento em tempo real dos pedidso -->
