<div id="mySidenav" class="sidenav border">
  <span class="closebtn pointer" onclick="closeNav()">&times;</span>
	<select class="mobile-box b1 em13 box-hover pointer padding-5 margin-top-5 avant-garde hide-disabled" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="" selected disabled>Artigos</option>
	    <option value="/portal-do-lojista/novo-artigo">Novo Artigo</option>
	    <option value="/portal-do-lojista/gerir-artigos">Gerir Artigos</option>
	</select>
</div>

<div class="container">
	<div class="mobile-box right padding-10">
		<img class='icon size-45 noselect' src='/images/icon/menu.png' onclick="openNav()">
	</div>
</div>

<script>
	function openNav() { document.getElementById("mySidenav").style.width = "300px"; };
	function closeNav() { document.getElementById("mySidenav").style.width = "0"; };
</script>