<html>
  <head>
    <% include ./../partials/head %>
  </head>
  <body>
    <% include ./../partials/header %>
    <% include ./../partials/nav %>
    <section>
      <div class="container">
        <div class="box-2">
          <h3 class="title-soft underline">Administrativo</h3>
          <div class="menu-box box-1">
            <span class="span-menu" onclick="window.location.href='/department/manage'">Gerir departamentos e funções</span>
            <span class="span-menu" onclick="window.location.href='/signup'">Novo Colaborador</span>
            <span class="span-menu" onclick="window.location.href='/admin/user'">Gerir funcionários</span>
          </div>
        </div>
        <div class="box-2">
          <h3 class="title-soft underline">Produtos</h3>
          <div class="menu-box box-1">
            <span class="span-menu" onclick="window.location.href='/product/manage'">Gerir produtos</span>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <% include ./../partials/footer %>
  </footer>
</html>