<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<h3>Atualizar Usuário</h3>
					<form id="user-list-form" class="box-1">
						<select>
							<option></option>
						</select>
					</form>
					<form id="user-edit-form" class="box-1">
							<input type="tel" class="btn-generic-big" name="phone" id="phone" maxlength="11" autocomplete="off" placeholder="Telefone">
							<div class="box-1">
								<select class="btn-generic-small" name="day" id="day" autocomplete="off" placeholder="Dia"></select>
								<select class="btn-generic-medium" name="month" id="month" autocomplete="off" placeholder="Mês"></select>
								<select class="btn-generic-medium" name="year" id="year" autocomplete="off" placeholder="Ano"></select>
							</div>
						
					</form>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
		<script src="/javascripts/scripts/user/main.js"></script>
	</footer>
</html>